[2014-04-27 07:02] ghost opened #1 "Question - Nicotine Still Being Developed?"
Hi,

Welcome to GItHub... :)

Is Nicotine still being developed because I haven't seen any new versions for serveral years, and then I see the project moved to GitHub and it made me wonder, is it still alive?

Please don't let this DIE!

[2015-03-20 14:45] shmelsv opened #2 "bug in userbrowse.py"
i m not coder and i m nubie with nicotine
but i found bug
it dont download some mp3s from some filelist
i removed part of code in userbrowse.py:

[code]

and now it works well

another bug (r its only for me)
totally black tabs as showed in pic. buddy list is ok. and when u click on tab it shows name of current tab. maybe becausse its not compiled? i dont know how to compile
http://fastpic.ru/view

[2015-04-09 16:48] alekksander commented on #1
yes, i am also regularly checking for newer versions, but since many years it appears dead. hopefully someone will pick it up one day. luckily, there is multi—platform SoulseekQt  application.

[2015-10-19 10:49] bernd-wechner opened #3 "Percent: 100%, Status: Transferring"
I queued a few downloads from various and they've sat like that for ages. A seeming bug. The files are all in the .nicotine/incompletefiles folder and prefixed with INCOMPLETE and what looks like it may be a GUID or a very long number in any case. They play fine in Banshee though and so it seems a bug in Nictoine+ which is simply failing to notice they are complete and finalising the transaction.

[2015-10-19 11:43] bernd-wechner commented on #3
Well that was easy. As it stands I did fetch the source, and didn't even need building, just ran it and a lot of messages on the console explaining the problem. I simply had a typo in the Downloads folder, it didn't exist and so Nicotine could not move the completed files there. That is of course worth a small patch to improve usability. Another small bug apparent mind you, is that once fixed it s

[2015-10-30 12:22] ghost opened #4 "this hangs the program since a few days, I'm using the git head version"
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/home/user/opt/nicotine/pynicotine/slskproto.py", line 385, in run
    conns, connsinprogress, server_socket = self.process_queue(queue, conns, connsinprogress, server_socket)
  File "/home/user/opt/nicotine/pynicotine/slskproto.py",

[2015-11-15 02:49] BrunoMSantos opened #5 "Some characters in password not handled correctly"
First of all, this project does seem to be dead, but for the sake of documenting it, here goes...

While creating a new account through the 'fast configure' I used an automatically generated password (very tiresome to keep inventing and memorizing new passwords), in this case (not in use any more): 9l-t>@YoWs.A.eMdw\cU?,]vHLQ1ZS0{

It takes the password and logs in.
Problem is when the application

[2016-01-02 03:55] ghost opened #8 "Please Help - Columns Position Not Being Maintained"
Hello,

If anyone sees this and can just enable this request, this would be great! I'm using the latest version...

For me the application is working fine, except for the `Columns` positions are not being maintained.

The `Downloads, Uploads` sections, when opening and closing nicotine the positions are not maintained after you move them. And the `Search Files` section loosses the position everyti

[2016-01-02 04:17] Geyup commented on #8
Something else I forgot to mention, under the ```Search Files``` after you've performed a search and the columns appear, you can right click on them and get a popup to uncheck ones you don't want to see, but when doing a new search, they just reappear.

It would be great to also have these stay hidden.

thank you again...

[2016-01-27 20:24] rebelmethod opened #9 "invalid byte sequence in conversion input"
keep using with windws version -

 the folder contents could not be displayed
 invaild byte sequence in conversion input

[2016-02-18 10:49] #5 closed

[2016-03-25 03:13] Geyup commented on #8
I'm at a loss to understand how such a project could die! What could be better than this for music, is what I'd like to know?

Seriously, there is no one to fix some issues in this thing, especially at least these columns to make this more functional?

[2016-04-30 10:34] alekksander commented on #1
still full of hope :)

[2016-07-24 17:13] gfarmerfr opened #11 "UPnP Port Mapping piles up in the router"
The way nicotine+ handle UPnP Port Mapping falls a little short.
Each time you restart nicotine+ it tries to create a new port mapping without reusing existing ones (using the python binding).

![capture du 2016-07-24 19-03-44](https://cloud.githubusercontent.com/assets/20270839/17085171/35fe02e0-51d2-11e6-8e3d-4e137d259edf.png)

Sorry the screenshot is in french but you can see 4 UPnP redirection

[2016-08-01 20:10] #11 closed

[2016-08-06 18:51] gfarmerfr commented on #1
@ghost @alekksander

Hi everyone.
I have decided to spend some time improving my python skills by hacking on n+.
@eLvErDe has given me commit rights and i'm cleaning lots of invalid bugs on the old Trac.

My goal is:
- Cleaning up the code base (removing old dependencies or trying alternatives).
- Writing docs.
- Fixing bugs & merge distributions patches.
- Switching to python virtualenv (mostly w

[2016-08-06 23:18] bernd-wechner commented on #1
Awesome Michael! I'm glad to hear it. I wish I had time for same. But
what little time i have I'm giving to Quod Libet right now.Do keep us
posted re: progress. I'm back on the SoulSeekQT client for now myself
for one main reason (it lets me collapse searches to folder level and
has better support for folder focussed rather than file focussed sharing)

Regards,

Bernd.

Michael Labouebe wrote:

[2016-08-07 07:13] gfarmerfr commented on #1
@bernd-wechner  Quod Libet ? Nice ! :)
Do you work on mutagen too (since it branch out of it if my memory serves me) ?
Our previous dev had switch from a internal mp3 metadata handling system to mutagen.
I think it was a good decision since it seems to be well maintain.

" I'm back on the SoulSeekQT client for now myself for one main reason  (it lets me collapse searches to folder level and has be

[2016-08-07 07:57] bernd-wechner opened #17 "Add "Group by folder" option to search results"
I love the ideas of FOSS, and of Python and of Nicotine+ ... but after trying Nictine+ for a while I went back to SoulSeekQT, for one main reason. Namely this feature, which SoulSeekQT has, Nicotine+ lacks and that I find essential for navigating search results sensibly.

Michael Labouebe ( @gfarmerfr) suggested posting it as a bug and to include screenshots. So here it is as an issue to adddress

[2016-08-07 08:05] bernd-wechner commented on #1
OK, filed an issue for you: #17

Not working actively on mutagen no, nor on quodlibet yet, just set up to. I'm dearly time poor, and it's on my list to work on quodlibet some time as I have some todos there. Helping out with the python3 upgrade might be a start ...

Well, as a rule, when sharing music say, most of us both store albums one to a folder, and when looking for music are looking for an

[2016-08-07 11:25] gfarmerfr commented on #17
Might be possible to do...
[Old Trac issue for reference](http://www.nicotine-plus.org/ticket/206)

There is even a beginning of code to it.

As soon as I fixed other pressing bugs i will get to it.

[2016-08-08 18:37] Mutnick opened #18 "Currently broken on windows"
Traceback (most recent call last):
  File "nicotine.py", line 36, in <module>
    ApplyTranslation()
  File "Z:\dev\new\nicotine-plus-master\pynicotine\utils.py", line 144, in ApplyTranslation
    currentlang = locale.getlocale()[0].split('_')[0]
AttributeError: 'NoneType' object has no attribute 'split'

[2016-08-08 19:06] gfarmerfr commented on #18
Hi thx for the bug report.

I was aware of that: i need to fix translations / locales and a pile of encoding related stuff on windows. I'm beginning to understand why the windows installer for 1.2.16 was only in english :)

I was playing around with my win7 VM with python 2.7 and msys2 + all the required dependencies and i found a couple of bugs:
* The first one was yours :). I wiil probably fix i

[2016-08-08 19:16] Mutnick commented on #18
I'm thinking that code known to be broken should not be merged into the master branch. It is trivial to create other branches.

[2016-08-08 20:31] Mutnick opened #19 "File transfers are failing."
Some encoding issues are preventing people from downloading files - this is not good.

I tested running nicotine-plus on Windows, using a remote client (SlskQT, also on Windows) to request a file from the nicotine-plus client. The file transfer fails due to a problem with nicotine-plus:

"TypeError: String or Integer object expected for key, unicode found"

I found that correctPath(self, path) in

[2016-08-08 21:24] gfarmerfr commented on #18
I tend to agree with you.
I will revert some of the changes to make it work on windows.

[2016-08-08 21:26] gfarmerfr commented on #18
btw which version on windows / python are you running ?

[2016-08-08 21:38] gfarmerfr commented on #19
I'm not familiar with this part of nicotine at the moment but i will take a look at it.
From what i see this might have been be introduced as a workaround for a bug in SLSK client in this commit: https://github.com/eLvErDe/nicotine-plus/commit/be9dc4acc854b55cf1c5998a1f480d920198917b
Might be a good idea to look at the changelog of the official client to see if there is a reference to something si

[2016-08-09 00:47] gfarmerfr commented on #18
Could you check if this branch fix the problem ? Thx.
https://github.com/gfarmerfr/nicotine-plus/tree/fix-windows-build
I've included the instruction to run from git in doc/RUNFROMGIT.md on this branch.

Also it seems that the two other bugs (shelve module borked and weird characters in the UI) don't appears if I install python, gtk+ and pygtk from their respective sources.
Something seems broken

[2016-08-09 21:17] gfarmerfr commented on #19
I've checked the changelog of the official SLSK client and no bugfix of that sort is mentioned.
From the commit timestamp from Quinox it might have been a workaround the old SoulSeekNS client that is still in the code base.
I will make a branch that partially revert the offending bits of the commit for testing purposes.

I suppose the line raising the exception you referer to is this one in the co

[2016-08-09 21:22] gfarmerfr commented on #3
Hi @bernd-wechner

There's someone to push code now :)

Have you still the patch somewhere  ?

[2016-08-09 21:33] gfarmerfr commented on #8
Hi @Geyup

I've decided to work on n+, so there is someone now :)

Thought I've a lot on my plate at this time and this is a long standing bug I agree with you: the constant need to fiddle around the GUI is a royal pain.

[2016-08-09 22:05] bernd-wechner commented on #3
I'm glad to see some folk working on it. Alas I'm not sure what you mean
by "the patch".

Michael Labouebe wrote:

[2016-08-09 23:28] gfarmerfr commented on #3
Sorry i misread:

I thought you did one on your end :).

[2016-08-11 04:13] Geyup commented on #8
@gfarmerfr

Oh YEAH someone is here!

This is amazing, I'll try not to pee my pants LOL...

Yes it's a real royal pain in the arse!

I hope you'll have time soon to work on this, and if you need someone testing it it to see how it works, I'll be sure to keep an eye on this post.

Thank you very much gfarmerfr for taking this on, it's greatly appreciated!

nicotine-plus is an awesome application, I

[2016-08-13 14:18] gfarmerfr commented on #18
Hi @Mutnick : i've just updated my branch.
Translations and locales were already working with the previous commit.
I've fixed the code further to be able to switch between locales / translations on Windows.
Tested both under my Win7 box and Fedora.

[2016-08-13 18:23] Mutnick commented on #18
This particular issue appears to be fixed in the branch you linked.

[2016-08-13 18:23] #18 closed

[2016-08-13 19:09] gfarmerfr commented on #18
thx for the confirmation: fix committed to master.

[2016-08-15 08:00] gfarmerfr commented on #19
Hi @Mutnick
Here is the branch: https://github.com/gfarmerfr/nicotine-plus/tree/fix-file-transfers-correctPath.
Could you have a look at it ?
I've reverted the whole lowercase hack since it seems it was a workaround for a version of SoulseekNS that is deprecated.

[2016-08-16 16:29] Mutnick commented on #19
Looks good to me.

[2016-08-16 16:29] #19 closed

[2016-08-16 23:36] Geyup opened #21 "Information On nicotine-plus.org"
@gfarmerfr
It would be a good idea if you have access to nicotine-plus.org to make a note on the site letting end-users know that development has begun again on nicotine-plus. :)

[2016-08-17 05:50] gfarmerfr commented on #21
Done :)
The wiki still need some cleanup to avoid pointing users/devs to outdated infos.
I've begin to cleanup some pages recently.

[2016-08-17 05:50] #21 closed

[2016-08-17 05:55] gfarmerfr commented on #19
Thx. Merged on master.

[2016-08-17 22:21] gfarmerfr commented on #2
Hi @shmelsv

You should check if your problem still appear in the master branch.
This might have been fixed in this commit 925630378150cbcfe29464d1c6efab07760f3d05

[2016-08-21 02:50] mmetak opened #22 "Build fails on archlinux, can't copy mo file..."
`error: can't copy 'languages/lt/nicotine.mo': doesn't exist or not a regular file`
And for some reason it thinks it's on windows?
` /usr/lib/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'windows'`

What could I be doing wrong?

[2016-08-21 10:44] gfarmerfr commented on #22
HI @mmetak

I suppose your using the AUR nicotine-plus-git package ?
Setuptools needed a good refresh.
It's now done on git master and should hopefully fix your problem.
Could you retry to install it ?

[2016-08-21 23:01] mmetak commented on #22
[code]
It builds fine, but fails to start with this error?

[2016-08-22 07:52] gfarmerfr commented on #22
HI @mmetak

Great to know i've fixed the first problem.
I've tried too reproduce this problem on a ubuntu VM install in the 'sl' lang but i can't reproduce the error.
Can you post me the return of a `locale -a` command from a terminal ?

[2016-08-22 08:03] mmetak commented on #22
Hello @gfarmerfr

It appears nicotine failed to start because it was trying to fallback to English and I didn't have it enabled. So after editing `/etc/locale.gen` , enabling English and re-generating the locales, nicotine starts now. ;-)

[2016-08-22 10:54] gfarmerfr commented on #22
@mmetak : That's what i was suspecting :)
In distro like arch or gentoo, since people can do almost anything (which is great btw) and are asked to configure their locales by hand this can happen. I need to take care of that.

At this time if i don't find translation for your current locale I try setting the locale to en_US.UTF-8 and if this fails too, as a last resort i'm trying to set the locale

[2016-08-22 12:43] #22 closed

[2016-08-27 16:09] Mutnick opened #23 "Hidden directory files now showing up in file shares (Windows)"
I have directories both with attrib +h and also that start with a dot. In the past this prevented sharing on both the official soulseek clients (which respect the attribute) and with nicotine+ (which in the past hid the .directories).

The hidden .directory files are now showing up in shares when running nicotine+ on windows.

[2016-08-27 16:11] Mutnick commented on #23
This is both a security issue and a hassle as to actually prevent sharing I'd have to move such a directory out of it's normal location.

[2016-08-27 22:11] gfarmerfr commented on #23
Hi @mutnick,

I can reintroduce this easily.
I will revert this commit tomorrow: https://github.com/eLvErDe/nicotine-plus/commit/60deb7034dd09ab15662fddf2e17fc25fa6d053d.

Btw I've not seen any code in the code base dealing with the +h attribute as far I know.
That would be the clean way of doing it in nicotine+ I agree.
I will have a look at it.

[2016-08-27 23:51] gfarmerfr commented on #23
Could you check this branch : https://github.com/gfarmerfr/nicotine-plus/tree/fix-hidden-directories-windows ?
I've reverted the commit so dot directories are excluded and on top of that I've added a check for the hidden attribute on Windows that will exclude those too.
Seems to work well on Win7.

[2016-08-28 15:13] Mutnick commented on #23
It appears a required module wasn't included:

ImportError: No module named win32file

[2016-08-28 16:50] Mutnick opened #24 "upnp functionality is used despite being config'd as False"
In frame.py's OnFirstConnect function there are initializations and checks of upnp functionality even when upnp is configured as False (and such functionality is not desired or needed)

Please relocate

`` if self.np.config.sections["server"]["upnp"]:
``

to the very start of OnFirstConnect()

This is an issue as the reworked code broke the ability of the user to Torify Nicotine+.

[2016-08-28 17:30] gfarmerfr commented on #23
Yes I've just found it too. I had the 'pypiwin32' module installed which include win32file as a side effect of having pyinstaller on my Win7 box.
What do you think:
Should we make 'pypiwin32' a requirement on Windows ?
Or should we try to import it and do nothing if it fails (and loose the ability to hide attrib +h file) ?

[2016-08-28 17:50] gfarmerfr commented on #24
Yes I can move this line at the start of the function that's not a problem.
In this case we might have a look too at settingswindow.py at the end of the SetSettings function of the ServerFrame class.
What I'm trying to understand is what would break a Torify Nicotine+ ?
The line you're referring to 'upnp.IsPossible()' only checks if either the upnpc binary or python miniupnpc module is available a

[2016-08-28 19:01] Mutnick commented on #23
I think for now it's adequate that .directory behavior is consistent across platforms and consistent with previous nicotine+ functionality: dot directories should be hidden.

It would be good to have that modules functionality for the additional checking, but yes make it optional.

[2016-08-28 19:13] gfarmerfr commented on #24
I've relocate the line at the top of the function OnFirstConnect() in frame.py.

I've also found another line to relocate in the upnp.py \__init__ function:
[code]

This line was doing a NS lookup and i've pushed it back down to the function actually doing the port mapping so it's not called at initialization/check times. See https://github.com/gfarmerfr/nicotine-plus/commit/710621bc69ffb9179123bd

[2016-08-28 19:14] Mutnick commented on #24
The error occurs when resolving the host name.

upnp = UPnPPortMapping() leading to the gethostbyname(gethostname()) is where the error occurs.

On windows, gaierror: [Errno 11003] getaddrinfo failed
On a Debian based machine, gaierror: [Errno -2] Name or service not known

I'll look into this further but the point remains that if someone doesn't want the upnp functionality for whatever reason, th

[2016-08-28 19:16] gfarmerfr commented on #24
Just posted a few seconds ago :)
Could you check my last post and tells me what do you think of the solution ?

[2016-08-28 19:22] Mutnick commented on #24
Thank you, looks good.

[2016-08-28 19:22] #24 closed

[2016-08-28 19:30] gfarmerfr commented on #24
Merged into master.

[2016-08-28 19:32] Mutnick commented on #23
Also if we eventually get to python 3.5 it looks a bit more straightforward without additional modules, see for example the is_hidden() here https://bugs.python.org/issue21719

[2016-08-28 19:43] gfarmerfr commented on #23
Yes it would be easier for sure :) Thx for the link.

Btw i've just updated the branch with the try/expect/else for the optional win32file.

[2016-08-28 20:24] gfarmerfr commented on #2
Hi @shmelsv
The second bug (black tabs) should have been fixed by this commit 5f8b33419e4d5d8694c659d64b637b7830416d11

[2016-08-30 09:28] gfarmerfr commented on #23
Hi @Mutnick

Have you tested the refreshed branch ? For me it works fine.
Can I go ahead and merged it ?

[2016-08-30 19:01] Mutnick commented on #23
Yes this looks good, thanks.

[2016-08-30 19:01] #23 closed

[2016-08-30 19:24] Mutnick commented on #9
rebelmethod are you using one of the .exe's such as Nicotine+-1.2.16.exe or running the sources here?

This may have been fixed with https://github.com/eLvErDe/nicotine-plus/commit/4651e51670640cbcb9a1154b431c6fbc121e8b21

[2016-08-30 19:30] Mutnick commented on #4
ghost it would be good to know if this is still an issue, have you run from recent source?

[2016-08-30 19:30] gfarmerfr commented on #23
Done. Thx :)

[2016-08-31 02:58] Geyup commented on #8
WOW you're really going at it, this is great!

Can't wait to try it out when ready to do some testing.

Keep up the great work gfarmerfr!

[2016-08-31 08:59] gfarmerfr commented on #8
Thx for the support :)

I've been in holidays since 3 weeks until the end of this one so this explain the amount of commits :smile:

For the time being i'm doing high level infrastructural cleanup: cleaning up dependencies, get through the backlog of patches from distros, rebuilding the packaging/installation part, cleaning up the wiki & old bugtracker, document most of the things I've leaned and

[2016-08-31 23:14] Geyup commented on #8
Sounds great!

I'm running Slackware

[2016-09-01 23:35] gfarmerfr opened #25 "userbrowse core dump"
Step to reproduce:

1) Browse your own share or anyone else for that matter.
2) Start scrolling throught the share by pressing the down arrow.
3) Wait for the core dump :

**
ERROR:gailtreeview.c:2314:idle_expand_row: code should not be reached

[1]  + 10743 abort (core dumped)  python nicotine.py

Bisected to 12424d4 if i'm not wrong.

Can anyone confirm this ?

[2016-09-05 17:39] Mutnick commented on #25
I can not confirm this.

[2016-09-05 21:29] gfarmerfr commented on #25
@Mutnick : I'm unable to trigger the bug on windows, but both on ubuntu and fedora it triggers.
Could you test on your debian box if you haven"t already ?

[2016-09-06 14:39] Mutnick commented on #25
Yes tested on Debian also. What is the minimal way you can replicate this? Does a share of one file give the error?

[2016-09-06 20:36] gfarmerfr commented on #25
With one file I can reproduce it since dthe down arrow will have nothing to go through.
You should have at least a few subdir in the share.

One way I'm able to easily reproduce it on ubuntu 16.04 / fedora 24 is :
1) Create a virtual share containing the n+ source tree.
2) Open the first level "test" to to see the source tree.

![subdir_tree](https://cloud.githubusercontent.com/assets/20270839/182

[2016-09-07 19:24] Mutnick commented on #25
I retested on Debian sharing source tree (master branch from aug 29), works fine here.  Smooth sailing down into stubs directory.

python 2.7.9, GTK+ 2.24.25, PyGTK+ 2.24.0

[2016-09-08 20:42] gfarmerfr commented on #25
Thx for the tests. I've just spawned a debian VM and I agree it works under debian stable up-to-date.
As soon as I've upgraded debian to testing with GTK 2.24.30 n+ crashes.
So it might be a bug not triggering in GTK+ 2.24.25 and below (debian + windows) and triggering in GTK 2.24.30 (fedora 24, ubuntu 16.04, debian testing).

IMHO it's not a bug in GTK but more likely a bug in the uglytree.py cus

[2016-09-08 22:22] Mutnick commented on #25
Best to not replace hand waving with yet more hand waving.  What specifically in uglytree.py is causing coredump?

[2016-09-10 08:35] gfarmerfr commented on #25
I'm not trying to hand wave anything I assure you.
If I could avoid checking out a 7 years old version of the userbrowse.py script a modify it I would do it gladly :)

I've tried to debug the uglytree.py module more than once now and I think I'm on something.
I've managed to find a simple share directory structure to keep it crashing consistently under GTK 2.24.30.

![case1](https://cloud.githubus

[2016-09-10 15:39] Mutnick commented on #25
OK great, just found it curious as to my knowledge this wasn't an issue for many years so good to know the actual cause and it looks like you are looking into that. I checked the rework you have so far and didn't notice any issues. Not sad that uglytree dies if browse speed is maintained, and it looks fast to me.

[2016-09-10 17:54] gfarmerfr commented on #25
Yes it's strange. The GTK2 [changelog](https://github.com/GNOME/gtk/blob/gtk-2-24/NEWS) from 2.24.25 to 2.24.30 seems not that big but it's causing problems only for this specific part. Other parts of n+ using a standard model (searches, userlist, etc..) aren't affected from what I can see.

What would be nice is testing every point release between 2.24.25 and .30 to find out when things begins to

[2016-09-13 00:55] zx2c4 opened #26 "Make proper release"
Hey -- glad to see this project is still alive.

Per this bug, https://bugs.gentoo.org/show_bug.cgi?id=593622 , do you think you could release a real version for downstreams?

Thanks,
Jason

[2016-09-19 04:05] Geyup commented on #26
Did you look at the TODO list?

https://github.com/eLvErDe/nicotine-plus/blob/master/doc/TODO.md

There seems to be quite a bit for gfarmerfr to do before releasing a version.

And I'm just as anxious as anyone to see it happen, when it happens.

[2016-09-19 17:40] gfarmerfr commented on #26
Hi everyone,

Sorry for the late response, I've been very busy lately with a new job.

As Geyup pointed out : there is still some blocking bugs needed to be solved and some very old dependencies needed to be refreshed to have nicotine+ in a state where I'm comfortable to do a proper release.
I'll do a release before the end of this year with whatever I managed to do until then.

[2016-09-20 02:38] Geyup commented on #26
It's to bad you haven't been able to get some help.

Keep up the great work!

And don't worry when a release comes, let it happen when it happens, don't kill yourself! LOL

[2016-10-01 22:50] rbong opened #27 ""invalid operation on closed shelf" error on every download"
Every time a download completes, I get the error in this output:

[code]

Further information:
* I am on Arch Linux with the latest packages
* I have also tried installing from master
* I have installed the latest packages for Python2.7, GTK+ 2.24, PyGTK 2.24, and mutagen
* I cleared out my `~/.nicotine` folder on every fresh install
* I get errors on git versions further back than nicotine+ will

[2016-10-03 17:56] gfarmerfr commented on #27
Hi @rbong,

Thx for the bug report.
Just to be sure I've not messed up something could you try to come back to this commit 0756064 and see if it works ? In the commit just after (ece7145) I've clean up some duplicate functions and I might have missed something but I'm not sure since it's working on my tests systems (fedora, ubuntu, debian, windows).
Anyway I need to create a Arch VM and for tests

[2016-10-03 19:48] gfarmerfr commented on #25
I've just finished up the conversion of the upload part.
September was a totally crazy month for me between work and a s# load of personal stuff to take care of.
Never had any time to work on n+ :(.
But now I'm back since things have settle down :)

[2016-10-05 12:52] rbong commented on #27
@gfarmerfr, that commit does not have this issue for me.

[2016-10-06 19:09] gfarmerfr commented on #27
@rbong, I've reverted ece7145 on top of master and made a branch: https://github.com/gfarmerfr/nicotine-plus/tree/arch-fix-27. Could you have a look at it and check if it works on arch ?

Strange that the problem is only happening on Arch, but if I remember well when I tested n+ with msys2 on windows (which is based on Arch packages) and I had similar problems so I decided to fallback to using the

[2016-10-09 18:56] gfarmerfr commented on #25
So far I've tested these combinations without any visible regressions for browse/download/upload.
Local => Remote

This branch N+ Linux => This branch N+ Linux with virtual shares
This branch N+ Linux => This branch N+ Windows with virtual shares
This branch N+ Windows => This branch N+ Linux with virtual shares
This branch N+ Windows => This branch N+ Windows with virtual shares

This branch N+ L

[2016-10-10 19:44] gfarmerfr commented on #25
@Mutnick : I've just finished the last few tests and everything seems good to me.
I will go ahead a merge this branch Wednesday since I'm out tomorrow.

[2016-10-12 18:03] #25 closed

[2016-10-12 20:41] gfarmerfr commented on #27
@rbong ; I've just finished to install a new Arch VM for testing. I will have a further look at this soon.

[2016-10-12 21:28] rbong commented on #27
Sorry for the delay, I have been on a business trip. I will be able to test this soon.

[2016-10-12 21:43] gfarmerfr commented on #27
No problem I needed to have an Arch testing box anyway :)

[2016-10-15 14:03] rbong commented on #27
The branch works for me; thank you very much!

[2016-10-15 19:26] gfarmerfr commented on #27
Thx for the testing. I'm merging the fix on master and a further at what was causing it on Arch.

[2016-10-15 19:27] #27 closed

[2016-11-13 11:34] #1 closed

[2016-11-13 11:40] gfarmerfr commented on #2
Show locked share (to see what shared for buddylist only) is implemented on master.

[2016-11-13 19:05] gfarmerfr commented on #4
This issue seems to be fixed in master, also the user that reported this bug is not on github anymore.
Closing this issue.

[2016-11-13 19:05] #4 closed

[2016-11-22 16:47] mfiano opened #32 "Unable to save settings"
Using the latest git release. Upon pressing the Apply button, output to terminal shows:

[code]

[2016-11-22 20:13] gfarmerfr commented on #32
Hi @mfiano

For information, where you upgrading from 1.2.16 to git master or where you already on git before the upgrade ?

Anyway if you close nicotine+ and edit at your ~/.nicotine/config file you should find some tabs position parameters:

tabbrowse = Top
tabinfo = Top
tabmain = Top
tabprivate = Top
tabrooms = Top
tabsearch = Top

Make sure that the first letter of the corresponding value is i

[2016-11-22 23:37] mfiano commented on #32
@gfarmerfr Neither. I was installing for the first time from git master. I fixed the issue by rolling back to the latest stable release (1.2.16).

[2016-11-23 18:09] gfarmerfr commented on #32
@mfiano : i've just fix the issue on git master.
You should now be able to either upgrade or do a clean install from git master without the issue.

Could you confirm that it's working ?
Thx.

[2016-12-01 08:14] gfarmerfr commented on #32
@mfiano : this issue should be solved on git master since this commeit 082d9efb1f4fb79440ff4c7d4272ceaa51242d72.

Did you found time to check it out ?

[2016-12-01 08:53] mfiano commented on #32
Yes I did and it is fixed. However, I have found many unrelated bugs that I have not had time to report yet. To name a few:

1) Sometimes the Clear Finished/Aborted button does not work. When it eventually happens, it stays broken and you must restart Nicotine.

2) When you have a lot (about 3000 or more) files added to download, the program hangs for several seconds when doing anything, if the Do

[2016-12-14 19:09] gfarmerfr opened #33 "Clear Finished/Aborted button problem"
Extracted from https://github.com/Nicotine-Plus/nicotine-plus/issues/32

Sometimes the Clear Finished/Aborted button does not work. When it eventually happens, it stays broken and you must restart Nicotine.

[2016-12-14 19:12] gfarmerfr opened #34 "Downloads tab hanging when adding a lot of files"
Extracted from https://github.com/Nicotine-Plus/nicotine-plus/issues/32

When you have a lot (about 3000 or more) files added to download, the program hangs for several seconds when doing anything, if the Downloads tab is visible. I suspect that it is trying to sort every item each tick of the GUI main loop.

[2016-12-14 19:13] gfarmerfr opened #35 "Uploads stop working after a while"
Extracted from https://github.com/Nicotine-Plus/nicotine-plus/issues/32

Sometimes uploads stop working, with no reason given. It will just sit at "Waiting for peer to connect". A restart of Nicotine fixes this.

[2016-12-14 19:14] gfarmerfr opened #36 "Settings window slow to open"
Extracted from https://github.com/Nicotine-Plus/nicotine-plus/issues/32

It takes a few seconds for the Settings window to display when opening it. The program is unresponsive until it does.

[2016-12-14 19:15] gfarmerfr commented on #32
@mfiano : I've open individual bug reports from your findings so i can track them and close this one. Feel free to add your findings to them if you have additional infos.

[2016-12-14 19:20] #32 closed

[2016-12-14 19:21] #2 closed

[2016-12-21 01:43] iyra opened #37 "Can't download from certain users"
Having followed the advice given in the documentation, I ensured that the port that Nicotine+ was operating on is open, and I tested it with several port-testing utilities, the result being that Nicotine+ should be able to work fine.

However I am simply unable to download from a large number of users. No error at all is reported, I simply click "download" on a file in the Downloads tab and nothin

[2016-12-21 14:24] iyra commented on #37
It seems that I'm unable to use uPnP at all with my current set-up. Is there still a way that I can download files from all users, without uPnP? I have "I can accept direct connections" enabled.

[2016-12-21 18:20] gfarmerfr commented on #37
Hi @iyra,

I would recommend avoiding UPnP for the time being because it seems some bugs are still lurking around even if I've tried to fix some of them.

If you have "I can accept direct connections" enable you must also redirect the port Nicotine+ is listening on (usually 2234) on your router to your pc (port redirection also called port mapping). Something like your_public_ip:2234 => your_inter

[2016-12-23 17:49] #33 closed

[2016-12-24 12:39] gfarmerfr commented on #36
@mfiano :
I think I might have found why this happen.
When the settings windows opens up it populate fields and one of them is the size of your shares.
So it's doing a directory scan to sum up all the files inside them.
Could you try this branch where I've put this specific scan in a separate thread to avoid the UI to lock up and report if it's working for you ?

git clone -b fix-settingswindow-sl

[2017-01-04 00:14] Geyup commented on #26
@gfarmerfr Hello, how are you and Happy New Year!

I see you are still going at it, this is great!

So how is progress coming, any idea on a release date?

By the way I see you want to switch to Python 3, I hope you can just stick with Python 2 for now, I run Slackware and it doesn't come with 3, of course I can install it, but I'd rather not mess with it if I don't have to for something like this

[2017-01-05 19:30] gfarmerfr commented on #26
Happy new year to you @Geyup :)

@kiplingw and @Mutnick have been helping me :)

I was an vacation last week and I was able to almost cross one major stuff from the TODO list : getting rid of glade and switch to GtkBuilder. Maybe I'll be able to finish the port this weekend.
I think I was too optimistic on the short terms goals roadmap: my new job is very time consuming.

The only thing that i can

[2017-01-06 03:04] Geyup commented on #26
Sounds great, keep up the great work, you know us kiddies just can't sit still! LOL... :)

THANKS!

[2017-01-12 21:36] gfarmerfr commented on #3
Hi @bernd-wechner

With the current master branch I've cleaned up a lot the file/directory choosers so it looks more like "modern" clients. The editable text box is gone so you actually can't do any typo in the folder name unless you manually edit your config file.

At least that's a first step in the right direction but I still need to look into what exactly is happening when a transfer is finish

[2017-01-12 21:39] gfarmerfr commented on #35
Hi @mfiano

I've a branch here https://github.com/gfarmerfr/nicotine-plus/tree/develop that might solved the issue.
Could you test it and report back ?

Thx

[2017-01-12 21:40] gfarmerfr commented on #37
@iyra

I've a branch here https://github.com/gfarmerfr/nicotine-plus/tree/develop that might solved the download issue.
Could you test it and report back ?

Thx

[2017-01-14 09:41] gfarmerfr commented on #35
Hi @mfiano

I had the same problem as you since ages but I think I managed to fixed it.
I've let my client run a few days and I didn't see any uploads getting stuck anymore.

I've pushed my branch on master (febf220a224c6624499debd39dbe6b5dd336085a) so it should solve the problem.

I'm closing this bug: please reopen it or open another one if you still have problems.

[2017-01-14 09:41] #35 closed

[2017-01-14 09:44] gfarmerfr commented on #37
Hi @iyra

I had the same problem as you since ages but I think I managed to fixed it.
I've let my client run a few days and I didn't see any download/uploads getting stuck anymore.

I've pushed my branch on master (febf220) so it should solve the problem.

I'm closing this bug: please reopen it if you still have problems on current master.

[2017-01-14 09:44] #37 closed

[2017-01-14 15:41] iyra commented on #37
Thank you for your work, I will be checking out the change soon and I'll re-open if I still have problems.

[2017-01-31 23:09] gfarmerfr commented on #26
Hi guys 1.4.0 is out :)

I'll build and attach the windows installer to the release page tomorrow night.
I'll also update the N+ wiki.

@kiplingw will trigger his ppa build soon for ubuntu.

For other distros we have to hope that downstream packagers notice it and maybe give them a head's up.

[2017-01-31 23:09] #26 closed

[2017-02-01 02:56] Geyup commented on #26
Ahhh over six and a half years since Life!

AWESOME this is great gfarmerfr!

I'll compile it and let you know how it goes!

THANK YOU VERY MUCH! :)

[2017-02-01 03:43] Geyup opened #38 "1.4.0 /usr/bin empty"
I'm compiling on Slackware 14.2 x86_64 with python-2.7.13.

This is my build script;

PRGNAM=nicotine-plus
VERSION=${VERSION:-1.4.0}
BUILD=${BUILD:-1}
TAG=${TAG:-_foo}

if [ -z "$ARCH" ]; then
  case "$( uname -m )" in
    i?86) ARCH=i486 ;;
    arm*) ARCH=arm ;;
       *) ARCH=$( uname -m ) ;;
  esac
fi

CWD=$(pwd)
TMP=${TMP:-/tmp/foo}
PKG=$TMP/package-$PRGNAM
OUTPUT=${OUTPUT:-/tmp}

set -eu

rm

[2017-02-01 03:49] Geyup commented on #38
In the meantime I added this to the build script to get it working;

```cp -a nicotine $PKG/usr/bin```

This is the contents of the package, how does it look?

./
usr/
usr/share/
usr/share/nicotine/
usr/share/nicotine/sounds/
usr/share/nicotine/sounds/cough/
usr/share/nicotine/sounds/cough/private.ogg
usr/share/nicotine/sounds/cough/license.txt
usr/share/nicotine/sounds/cough/details.txt
usr/share

[2017-02-01 03:51] Geyup commented on #38
Sorry I forgot to ask, I see this /path ```NicotinePlusGuide``` does that have to be under the default /path, is this for docs/images to appear in the Help section of the app?

[2017-02-01 04:08] Geyup opened #39 "Configure - Directories Page 4 of 5"
I'm using Slackware 14.2 x86_64 with python-2.7.13.

This issue is with 1.4.0

When I start Nicotine for the first time with the configure window, under the ```Directories Page 4 of 5``` section, ```Share the following directories``` when I clicked ```Add``` it then gave me another popup window asking to type a name of the vitual directory, but I could not type anything in it, and then when I trie

[2017-02-01 04:18] Geyup opened #40 "Configure - Username"
I'm using Slackware 14.2 x86_64 with python-2.7.13.

This issue is with 1.4.0

I use KeePassX to create nice long mixed character passwords, so I type in the username, but I copy and paste a password, and I noticed if I copy and paste the password, I have to backspace to remove one character in order for the ```Forward``` button to appear...

The only way this is working is if I copy and paste in

[2017-02-01 04:24] bernd-wechner commented on #40
I've had a similar problem in other contexts, and I'd suspect KeePassX here. Try pasting the password into a simple text editor in which you can see or check for spaces easily. You might find it's pasted your password and one extra space. I've certainly found similar in various contexts with password copy/pasting alas. Never spent the time to diagnose fully in any context, but my first suspect is

[2017-02-01 04:29] Geyup commented on #40
No this is not the problem, I open up KeepPassX and go to the section I have for nicotine and open it, then I view the password and copy and paste it with the keyboard keys ctrl c & ctrl v

I can also just copy out the password and put it in a text file, open it, then copy from there and paste into nicotine and the same thing...

This is a bug in the configure setup...

[2017-02-01 04:51] bernd-wechner commented on #40
Insufficient evidence alas. IN my case it most definitely has been a space at end and it would have passed those tests. Views fine. CTRL+C and CTRL+V into text file looks fine, CTRL+C and CTRL+V from theere to elsewhere all fine etc. But login rejected.

Not saying that is the problem, just that you haven't provided enough evidence to conclude it isn't, that's all. As I said, paste into an empty t

[2017-02-01 04:57] Geyup opened #41 "1.4.0 Text Off Set Under Columns"
I'm using Slackware 14.2 x86_64 with python-2.7.13.

I noticed under the ```Search``` and ```Downloads``` sections text is offset, meaning, for the given section text is not appearing directly underneath the section aligned under the first letter as some of the sections are.

```Size``` under the ```Search Files``` the text is located more to the right, and right next to the text for ```Speed```.

[2017-02-01 04:59] Geyup commented on #41
Forgot to add in, for the ```Downloads``` section the ```Queue Position``` and ```Size``` are what appear off for me...

Thanks

[2017-02-01 05:31] Geyup commented on #8
@ gfarmerfr was this worked on for 1.4.0?

Because in 1.4.0 they are still not being maintained, you have to keep moving them around...

THANKS

[2017-02-01 05:49] Geyup commented on #40
I said before that if I copy and paste the password first, then add in the username it works.

So this makes no sense by changing the order it works, but since I'm assuming LOL, we all read from left to right, the logic is to put in the user first then the password,. and in this order it does not work...

This seems like a bug to me, works one way and doesn't the other...

[2017-02-01 05:59] bernd-wechner commented on #40
Sorry if I misunderstood. Clearly is off if order is the only variable that makes a difference and suggests some esoteric feature, er bug, pending I guess reproducibility by a dev.

[2017-02-01 06:01] Geyup commented on #40
Hey no problems thanks for the help, much appreciated...

It's a small thing, but I thought to report it anyways...

Cheers

[2017-02-01 06:14] ghost opened #42 "1.4.0 - Hide Buddy List"
Slackware 14.2 x86_64 with python-2.7.13, with nic+ 1.4.0 I noticed I can hide all the tabs except the ```Buddy List```.

When I right click ```Buddy List``` nothing appears like the other tabs. I see under the ```Modes``` that ```Buddy List``` is shown, so I'm assuming it should be able to be hidden as well...

THANKS

[2017-02-01 16:51] sunox1 opened #43 "1.4.0 - Upload issues"
Hello,

I'm running 1.4.0 on Debian Jessie (stable) 64 bit with a backported kernel (version 4.9).

Uploads seemed to be working just fine after installing 1.4.0, but after a few hours I stopped getting new peers, and I could no longer search my own files from another account. Restarting the program seems to fix the issue, but I don't know how consistent it is. Uploads work fine in SoulseekQT with

[2017-02-01 17:10] sunox1 commented on #43
sorry, but it looks like there's a good chance my problem was caused by enabling the 'block unresolvable ips' setting. Will repost if that isn't the case. Apologies for the possibly pointless report!

[2017-02-01 18:48] sunox1 commented on #43
Thought for a second it was a false alarm, but sometime within the last hour uploads have stopped working again.
More notes: I can browse my files and add them to transfers, but their status is "Queued". Most of the time I cannot find my files through the Search function, but occasionally I can for a brief moment or two. When I add the searched-for files to my transfers, their status is "Queued".

[2017-02-01 19:08] gfarmerfr commented on #38
Hi @Geyup

I'm trying to reproduce the issue (on ubuntu).
When I do a ```$ python setup.py install --root=test/```

the nicotine file is located in test/usr/local/bin

[code]

Do you find it on your side in a somewhat similar directory ?

Yes for the doc I can add /usr/doc to the path the Help section will look for if it's that you mean ?

[2017-02-01 21:08] gfarmerfr commented on #43
Hi @sunox1,

That's quite a strange behaviour indeed.
Are you using UPnP or are you doing a static port redirection ?

[2017-02-01 21:17] sunox1 commented on #43
Hi @gfarmerfr,

Thanks for the response.

I am forwarding the listening port, and one port directly above it (SoulseekQT requires you to open the listening port and an "obfuscated port", and I do the same with nicotine-plus just to be safe). My router runs OpenWRT, if that matters. I have a local firewall as well, but the appropriate ports are all opened.

[2017-02-01 22:20] gfarmerfr commented on #39
Hi @Geyup,

Good catch I overlooked this one.
I've fixed it in my develop branch of my own repo.

I'll pill up a few more fixes for your other gh issues before releasing 1.4.1 as a stable branch fix.

[2017-02-01 23:33] sunox1 commented on #43
Argh, I just got home and it seems to be working for now. When I was having difficulty earlier today I was at school, so maybe there was something about my school's network that was causing problems? Although I was able to download from other users just fine. I'm confused. Anyway, I'll close it again for now. Thanks for your time.

[2017-02-02 00:06] gfarmerfr commented on #40
Hi @Geyup @bernd-wechner,

It was a little tricky to understand what was going on but I think I fixed it in my own repo develop branch.
I'll test it further tomorrow.

[2017-02-02 00:08] gfarmerfr commented on #43
No problem, keeps us updated about the situation.

[2017-02-02 23:10] sunox1 commented on #43
Hello. Just a little update.

Most of the day I seemed to be sort of working. Although I seemed to getting less uploads than I do with QT (more on that below), I did successfully upload a bunch of files.

As of a couple hours ago, however, my files are unsearchable, and there doesn't seem to be much activity in the debugging window (it seems that when things are working, there are a lot of pierceF

[2017-02-03 03:52] Geyup commented on #40
Sounds good...

thanks

[2017-02-03 03:53] Geyup commented on #39
Sounds good...

Thanks

[2017-02-03 03:55] Geyup commented on #38
As I mentioned I'm compiling from a build script and it runs it like this;

python setup.py install --root=$PKG

There's nothing in /usr/local

Help Section yes /usr/doc that would be great.

[2017-02-03 04:03] Geyup commented on #38
I went back and played with recreating my build script and I now have;

```/usr/bin/nicotine```

Hmm my bad, not sure what happened before...

Can you please tell me if the contents of the packge look ok?

usr/
usr/share/
usr/share/nicotine/
usr/share/nicotine/sounds/
usr/share/nicotine/sounds/cough/
usr/share/nicotine/sounds/cough/private.ogg
usr/share/nicotine/sounds/cough/license.txt
usr/share/

[2017-02-03 18:30] gfarmerfr commented on #38
Hi @Geyup,

The directory structure seems OK to me, the only thing I don't see is where the locales (translations) are ?

Btw I've added /usr/doc as a path for the doc in my repo.
I will probably work on the others issues you have open this weekend and push everything to both master and the 1.4 stable branch.

Thx btw it's great to have feedback.

[2017-02-03 20:29] gfarmerfr commented on #42
Hi @Geyup,

Yes it's not specific to 1.4.0 it was already the case in 1.2.16.
In fact when I switch from glade to gtkbuilder I stumble upon this part of the code and had seen that's it a "special" case of a notebook tab that can be switch around in the interface.

Technically it's feasible and I can add the menu to hide it but I'm not decided if we should do it.
I would like a little more feedback

[2017-02-03 20:38] gfarmerfr commented on #41
Hi @Geyup,

Yes I think setting every columns "left align" should result in a more consistent UI.
It should not be too difficult to do (don't quote me on that :D) and I'll try to see how it looks and report back.

[2017-02-03 21:10] gfarmerfr commented on #43
Hi @sunox1,

The connection issue at your school doesn't really surprise me because, as you said, you can't do anything about port redirection there. So if you have people in the same situation on the other side (no forwarding) you will see the `giving up` messages. For those who have redirection on the other side it should work.
I'm not entirely familiar how the peers connection scheme works but

[2017-02-03 21:37] sunox1 commented on #43
Hi @gfarmerfr,

Thanks for the response, and I appreciate the help. I will give that a try tonight.

Sorry, I wasn't clear about the school thing. I was on my Windows laptop using QT and trying to download from my home pc running nicotine. I tried downloading from a bunch of different people, and my home pc was the only account that gave me problems. Today I did the same thing though and I can dow

[2017-02-04 01:49] sunox1 commented on #43
Hi @gfarmerfr,

I was able to put my pc into a dmz, and nicotine behaves the same way: If I check `I can receive direct connections` I am unable to make any connections whatsoever, and if I leave this box unchecked it seems I can make connections with some but not all.

And to make extra sure my ports are properly being forwarded, I checked them with a few port checker websites such as http://port

[2017-02-04 08:55] gfarmerfr commented on #41
I've pushed this tweaking in the develop branch of my own repo: https://github.com/gfarmerfr/nicotine-plus/tree/develop.
Could you check it out to see how it looks like ?
I think it's a little bit better, but taste and colours... :)

[2017-02-05 06:22] sunox1 commented on #43
I've also managed to shrink down my former novel on the issues (a few posts up) to just a few paragraphs. I've learned that a lot of what I was discussing as potential problems are actually expected behaviour. I've pasted it below for visibility's sake.

**Uploading problems**
When the I can receive direct connections box is unchecked, I get about half the uploads as I do in QT, which I assume is

[2017-02-05 15:06] gfarmerfr commented on #42
I've looked at the actual code of the "special case" of the Buddy List. Frankly it's quite messy and adding the "Hide Tab" functionality would mean a bunch of code refactoring and lot of testing.
For example in the "View" menu you can choose where to put the buddy list but there's no way to hide it entirely since the 3 choices are in a RadioMenu and one of them must be selected...

I think that's

[2017-02-05 15:46] gfarmerfr commented on #43
Hi @sunox1,

Great debugging :)
You're right : the fact that N+ behaviour doesn't change in a DMZ clearly indicate that it's not a port forwarding issue.

Just to be sure there's no config corruption can you provide the two following values from your `~/.nicotine/config` file:
[code]

As you previously indicate you have a local firewall: I suppose your firewall is configured to have the ports in t

[2017-02-05 17:28] sunox1 commented on #43
Thank you for the advice. I haven't got a definitive answer for 1. yet, but I was able to get answers for everything else.

In ~/.nicotine/config:
`  firewalled = False
  portrange = 55525, 55531`

I do normally a firewall enabled and all of those ports open, but I disabled it last night just so I don't have to worry about it as a possible cause of any issues.

1. I looked at the output of `tcpdum

[2017-02-05 21:03] #38 closed

[2017-02-05 21:03] #39 closed

[2017-02-05 21:03] #40 closed

[2017-02-05 21:03] #41 closed

[2017-02-05 21:08] gfarmerfr commented on #38
Re @Geyup,

This issue was closed because I pushed the fix for the path of the help doc to master and 1.4 branch but I'm still interested to know how you handle locales in Slackware.

[2017-02-05 21:47] gfarmerfr commented on #43
Re @sunox1,

1) I'm not sure what the router will log.
2) OK
3) OK
4) I've research further and these kind of messages should only be triggered when lots of connections are established in a short amount of time, like when you do a search. So it should not be related to your problem from what I understand.

Researching 4) I've put together a experimental patch in one of my repo branch https://githu

[2017-02-05 23:08] sunox1 commented on #43
I think I switched branches successfully. I cloned the main repo and then did `git checkout -b /origin/slskproto-put-nowait`, which seemed to work, and then I launched `nicotine` from the directory root. The version number was still 1.4.0, though.

Anyway, no change unfortunately.

I mentioned above that the ports close less often if I share fewer files. I found later that if I uncheck `Enable sen

[2017-02-06 17:46] sunox1 commented on #43
So it turns out I wasn't installing the branch correctly. I finally figured out how to do so

AND

I've been seeding all my files for about 15 minutes now without any port closures!!!! Whether it is totally fixed, I don't know, but that is at the very least a massive improvement.

I'm just heading out for the day, but I will let it run alongside QT and we will see how it goes. I hesitate to say it

[2017-02-07 03:15] Geyup commented on #41
YEAH it's working nice, everything aligned to the left... :)

Can fonts or themes have an effect on this, I would think not, but I can test if you like?

THANKS gfarmerfr keep up the great work!

[2017-02-07 03:24] Geyup opened #45 "Bitrate - Length - Speed"
I noticed a few things with 1.4.0, not sure I understand what is going on, if this is just the way it is, depending on the user or something to do with soulseek?

I noticed when doing a search for a song, many of the songs don't even show a bitrate or length.

For me bitrate is really important to look for better quality...

Also under the Downloads section I noticed when I was done downloading th

[2017-02-07 03:55] Geyup commented on #38
Ok sounds great....

As far as Locales I only speak English so I never knew there was a need to keep them, like it would break something? So I remove them from all source I compile and package...

THANKS

[2017-02-07 04:00] Geyup commented on #42
Seems odd that whoever coded this in the beginning didn't have the Buddy List hide like all the other tabs...

For me soulseek seems to have the best collection of music in a P2P app, but I don't care for the buddy and online community aspects of it, I just search and download and that's it...

Ok I'm a leecher LOL, so I like to hide all the crap I don't use...

THANKS

P.S. Speaking of removing e

[2017-02-07 05:25] sunox1 commented on #43
So the issue is indeed solved (woo!), and it looks like the reason is that I upgraded to Debian Stretch. I could have swore that I tested n+ after upgrading and still encountered the port closing issue, but maybe not :/

I *think* that takes care of all the issues for now, so I'll to close this. Thanks so much for your time and effort - I really appreciate it. I learned a fair amount during this p

[2017-02-07 05:25] #43 closed

[2017-02-07 16:07] zniavre opened #46 "some bugs or misconfiguration ?"
Hello, just noticed some diif between 1.2.17 and 1.4.0 upnp seems to does not work, the way to change icons also does not work 'as before'

(~/Téléchargements/nicotine-plus-master$ ./nicotine
mar. 16:53 UPnP exception: Échec de redirection du port WAN externe: Invalid Args
mar. 16:53 Échec de création de la règle de redirection de port UPnP.)

and the way to modify languages: now im in french and

[2017-02-07 16:08] zniavre opened #47 "bug or feature ?"
Hello, just noticed some diif between 1.2.17 and 1.4.0 upnp seems to does not work, the way to change icons also does not work 'as before'

(~/Téléchargements/nicotine-plus-master$ ./nicotine
mar. 16:53 UPnP exception: Échec de redirection du port WAN externe: Invalid Args
mar. 16:53 Échec de création de la règle de redirection de port UPnP.)

and the way to modify languages: now im in french and

[2017-02-07 16:08] #46 closed

[2017-02-07 20:54] gfarmerfr commented on #41
Yes I would appreciate if you found out if themes would influence this. I don't this they would mess with gtk cell alignment but we never know. At least on the 2-3 themes I have on Gnome 3 I don't see any difference.

[2017-02-07 20:58] gfarmerfr commented on #43
No problem.
So the problem has disappear by upgrading debian alone or did you still need to run the experimental patch on top of the upgrade ?
I'm a little lost and maybe tired too :)

[2017-02-07 21:11] gfarmerfr commented on #42
From what i can gather from the git log the buddylist thing was touched a third position option in 2008 via this commit 6bc70894547f08e990a2e47efc1614af23cebf8d before that it was already a special case but the git log doesn't go back futher than the svn rebuild in 2006. So yes it's a special case since a very long time :).

I haven't create a stripped down client sorry but I think @Mutnick was sp

[2017-02-07 21:49] sunox1 commented on #43
Sorry, that wasn't clear.

It looks like just upgrading from Debian Jessie to Stretch (stable to testing) fixed it. Late yesterday I downgraded to the N+ version in the Debian testing repos (quite old) and everything ran fine - no port closures. I originally thought the patch had fixed because I thought (mistakenly) I tested the master version in Stretch, before trying the experimental patch, and

[2017-02-07 21:58] gfarmerfr commented on #45
For the search bitrate:

I noticed that too in 1.2.16 and 1.4.0. I've looked a little bit into it a few months ago but then I forget to come back to it. From what I remembered clients responding to the search request were sending these kind of informations (bitrate and length) in a non reliable manner. I mean, sometime the length was here but not the bitrate, sometime one of the two wasn't making

[2017-02-08 06:44] Geyup commented on #45
Yeah the bitrate and length thing is really annoying, I hope you'll be able to resolve it.

Well with newer faster broadband speeds now in MB/s it would be nice when you get time if they can be showing either KB/s or MB/s.

THANKS

[2017-02-08 06:44] Geyup commented on #42
Hide list and stripped version, ok...

thanks

[2017-02-08 06:45] Geyup commented on #41
Ok will let know...

thanks

[2017-02-08 07:39] zniavre commented on #47
hello again, after looking inside i hav found the new icon naming for trayicon, i deleted the fr.po ...

just upnp thingy who still does not work , i got new error messages in english so it's better for you i guess:

zniavre@zniavre:~/Téléchargements/nicotine-plus-master$ ./nicotine
mer. 07:30 UPnP exception: Failed to map the external WAN port: Invalid Args
mer. 07:30 Failed to automate the creat

[2017-02-08 19:03] gfarmerfr commented on #43
Thx for the head's up :)

[2017-02-08 19:18] gfarmerfr commented on #45
Yeah I'll look at both issue probably this week-end.

[2017-02-08 20:11] gfarmerfr commented on #47
Hi @zniavre ,

Yes I remove the way to switch from the UI to other locales because most applications aren't doing this but the major reason was because of unreliable Windows support. For the last few years each version of Windows has come with a different naming scheme for locales. Locales definition also depends on what VisualStudio version python was compiled with. To be short: a nightmare to be

[2017-02-08 21:02] eLvErDe commented on #47
Hey,

I came across this link for proper language detection in Windows a few days ago:

http://stackoverflow.com/a/25691701

On February 8, 2017 9:11:23 PM GMT+01:00, Michael Labouebe <notifications@github.com> wrote:

--
Envoyé de mon téléphone Android avec K-9 Mail. Excusez la brièveté.

[2017-02-09 00:14] sunox1 opened #48 "Some users get "file not shared" only when downloading containing folders"
Hello,

I've been having a frequent issue where I see a string of `Queued upload request: User [user]...` messages (one for each file a peer is attempting to download from me), but no files are added to my `Uploads`. I usually try to message them to see what's happening on their end, and every person who has responded has said that they received a `File not shared` error.

Curiously, one user who

[2017-02-09 02:15] sunox1 commented on #48
So I just encountered the problem, and I told the user about the individual download solution. They did so, and it worked - they were able to download everything fine. I took a screenshot of the log: https://imgur.com/ZFVwILn. The failed attempt is the first series of `Queued upload request` messages at 20:50:15. The later successful attempt is directly below.

There are two abnormal things about

[2017-02-09 14:35] zniavre commented on #47
hello thank you answering

1/ im using ubuntu 16.10
2/ i got python-miniupnpc 1.9.2014010-2ubuntu2   (from repos)
    miniupnpc 1.9.20140610-ubuntu2 (from repos)
    libminiupnpc10 1.9.2014610-ubuntu2 (from repos)
3/ any chance to port nic+ to python3 and gtk+3 ?

thank you again
 salut à vous !

[2017-02-10 05:17] sunox1 commented on #48
So after switching too ext4 and then rebuilding public shares (this way key), the number of instances of the problem dropped dramatically. I even noticed a number of DLs pop up from users who were getting the error before - I take it the downloads were sitting in their queue the whole time. I've encountered the problem twice since the switch, but that might be for unrelated reasons. In any case, i

[2017-02-10 05:17] #48 closed

[2017-02-10 09:00] gfarmerfr commented on #48
Hi @sunox1

Sorry I was out last day and had no time to response but that was my first thought too.
I think this is due to how n+ handle filename encoding.
It uses classic utf-8 strings for files on linux filesystems and unicode on windows for ntfs.
The actual if else in the code switch from one mode to the other based on the current running OS instead of being based on the underlying filesystem.

[2017-02-10 19:52] sunox1 commented on #48
No worries! Thanks for getting back. I'm not using Windows on that pc anymore so it was about time I switched to ext4 anyway.

That's good to know! I'm not sure how much effort it would take to change it up, but it would be handy for anyone dual-booting Windows and Linux.

And your mention of a "universal mode" made me wonder if doing such a thing would fix the remaining few instances of this issu

[2017-02-12 19:56] gfarmerfr opened #49 "NTFS support on linux"
N+ seems to have problems with files names on NTFS.
Need to investigate and find a common way to handle this with all OS / Filesystems.
See https://github.com/Nicotine-Plus/nicotine-plus/issues/48

[2017-02-12 22:51] gfarmerfr commented on #45
Hi @Geyup,

I've a working implementation of the speed units being displayed in my repo 'develop' branch.
I'll look at the other part (length & bitrate in the search tab) soon.

[2017-02-12 23:22] gfarmerfr commented on #47
@eLvErDe :
The problem is not to detect a locale but to set one :)
Python 2.7 is compiled with VS2008, so to switch to another locale you must now the target ["language string"](https://msdn.microsoft.com/en-us/library/39cwe7zf(v=vs.90).aspx) under windows. Until VS2012 it was quite a nightmare and require some ugly hack with hardcoded mapping arrays like this: https://gist.github.com/schlamar/413

[2017-02-13 21:02] gfarmerfr commented on #45
Re @Geyup,

I've also added in the same branch a commit that try harder to find the bitrate and length of files in searches results.

Before this commit less than 10% of files had these infos, now it's more like 70%.
Some search results doesn't seems to give us any kind of infos other than the file size so I don't know how to have a better coverage for the time being. From what I've observed from

[2017-02-17 02:59] Geyup commented on #45
Sounds good...

Well good enough for me, I don't think would be the issue, rather you being the developer, know the capability here better then me, of what to get, expect out of this...

I assumed every file you looked at would show this...

THANKS

[2017-02-17 03:41] Geyup commented on #45
Ok I gabbed from your repo and ran it...

I only saw around ```10%- 20%``` of files showing the bitrate and length....

The ```Number``` showed 418 songs, so this percentage ```10%- 20%``` I'd say is really low...

Hmm

[2017-02-17 19:48] gfarmerfr commented on #45
Hi @Geyup,

Just to be sure you used my develop branch on my repo right ? Because these number looks to me more like the code in the master branch.

[2017-02-18 03:08] Geyup commented on #45
I cloned from here ```https://github.com/gfarmerfr/nicotine-plus.git```

[2017-02-18 12:13] gfarmerfr commented on #45
Ok and then you did a `git checkout develop` to switch to the develop branch right ?

[2017-02-20 06:25] Geyup commented on #45
My bad I didn't do ```git checkout develop```...

After doing this now, and running nicotine, out of 500 files 100 didn't have info, so around 20% not showing...

[2017-02-21 07:15] starenka opened #50 "File Error: can't sync to MPEG frame"
[code]
Debian testing
Package: nicotine
Version: 1.2.16+dfsg-1.1

[2017-02-21 07:16] starenka opened #51 "Scanning File Error: 'MPEGInfo' object has no attribute '_MPEGInfo__BITRATE'"
[code]

Debian testing
Package: nicotine
Version: 1.2.16+dfsg-1.1

[2017-02-21 17:59] gfarmerfr commented on #45
Yeah 80% coverage is more like it.
If you want to dig deeper you can compare with what SlskQt provide as answers but it seems to me that the problem is at the opposite end for some files. We just don't get all the needed metadata.
I'll push this branch in master and in the 1.4 branch for a future bugfix release.

[2017-02-21 18:00] #45 closed

[2017-02-21 18:21] gfarmerfr commented on #50
Hi @starenka,

This issue (https://github.com/quodlibet/mutagen/issues/268) is fixed by mutagen 1.36.2 release.
It was affecting mutagen releases from 1.33 to 1.36.2 from what I can see.

From what i can see debian testing is using 1.36.1.

So either you wait for debian to update the package to 1.36.2 or you can use pip to update it yourself.

[2017-02-21 18:27] starenka commented on #50
ok. cheers

[2017-02-21 19:11] #50 closed

[2017-02-23 03:54] Geyup commented on #8
Hi gfarmerfr, something I noticed in 1.4.1 s when you uncheck to remove some sections in the columns for the Downloads sections, when you close and reopen nicotine these reappear...

Oh I don't mean to be a pain, not sure if you have anything as priority you have to do next, but I really hope all this column stuff can be fixed soon?

Thanks for bringing nicotine back to life! Keep up the great wor

[2017-02-25 13:44] Pelllicer opened #52 "Show network drives when adding a shared directory."
Currently only main drives are listed. Would be cool to have access to network drives too. If anyone knows a workaround to share a network share let me know.

[2017-02-25 14:15] bernd-wechner commented on #52
Only guessing, but probably useful to know what OS you're on and what you're expecting as they all handle network drives, and mapping them onto the filesystem proper a little differently. I'm on Linux for example and my NAS drives are just mounted seamlessly on to the root filesystem. Windows generally offers two options, mapping network drives to drive letters or using a UNC path name (browsing i

[2017-02-25 15:16] Pelllicer commented on #52
Yes windows here. They don't show as drive letters instead they are folders shared under a network drop down so I guess it uses an UNC path name.

[2017-02-27 19:10] gfarmerfr commented on #51
Hi @starenka ,

Sorry for the late response, I was very busy.

This particular problem has been fixed in Nicotine+ 1.4.0 via this commit https://github.com/Nicotine-Plus/nicotine-plus/commit/98f3dfa285656763e6c095ae22a6ae61ee98b764.

This behaviour change was introduced in mutagen 1.32.

[2017-02-27 19:14] gfarmerfr commented on #52
Hi @Pelllicer

I never tested N+ with network drives on Windows.
As far as i know we rely on a gtkfilechooser dialog to select a directory to share.
I'll look into it to see how this part works and report back.

[2017-02-27 19:58] gfarmerfr commented on #8
Hi @Geyup

I've just look at it and was due to a namespace conflict in the config file introduced quite a long time ago via this commit https://github.com/Nicotine-Plus/nicotine-plus/commit/2bdfe9d36e1f7085d49c3aff9c66049c71c01e14
I've pushed the fix on master and on the 1.4 branch for a future 1.4.2.

I'll try to fix the columns positions issue for 1.6 if I've time.
Converting the nicotine custom

[2017-02-27 20:19] gfarmerfr commented on #52
I've just tested on Win7 to share a directory on the network, then map it to a network drive.
It seems to work as you can see with the following screenshots.
Is this what you're trying to do ?

![screenshot1](https://cloud.githubusercontent.com/assets/20270839/23378032/3cce7bca-fd32-11e6-8f70-45c4c74e47c6.png)
![screenshot2](https://cloud.githubusercontent.com/assets/20270839/23378033/3cd022b8-fd3

[2017-02-27 23:21] gfarmerfr commented on #47
Hi @zniavre

I find out what the bug is with UPnP.
The problem was in the code that was trying to find the local IP address of the box.
I'll send a patch tomorrow once I've tested it on all platforms.

[2017-03-01 22:06] gfarmerfr commented on #47
@zniavre: I've just pushed the fix for UPnP on master.

Could you check if it's working for you ?

[2017-03-02 06:51] zniavre commented on #47
it looks like it works as before

slsktest:
 IP: 82.250.70.139 Port: 15000/tcp open. Your router and Soulseek client is configured correctly.

pastebien debug log from nic+:
http://pastebin.com/DLqyersW

thank you

[2017-03-02 16:00] zniavre opened #53 "send to player does not work."
Hello im using nic+ from today it looks like send to player option does not work
im using ubuntu 16.10 with default player Rhythmbox

Double clicking options are activated to "send to player" both up/dl but does not send to player.
no log or debug info in log aera .

when activate "open directory" nautilus starts and open folder with good place

thank you best regards

[2017-03-02 17:51] gfarmerfr commented on #9
Since this issue should most likely be fixed and we haven't heard back from the user I'm closing this issue.

[2017-03-02 17:51] #9 closed

[2017-03-02 18:01] gfarmerfr commented on #47
Great. That's also what I'm seeing on all OSes I've tested (fedora 25, ubuntu 16.04 + 16.10, debian stable, arch, win7, win10). Closing this issue.

[2017-03-02 18:01] #47 closed

[2017-03-06 05:26] Geyup commented on #8
Thanks gfarmerfr :+1:

[2017-03-13 19:39] sunox1 opened #54 "CPU usage spikes and remains high after period of usage"
Hi @gfarmerfr

I am using the master version 1.4.1 on Debian Stretch with kernel 4.9.0-2.

If I leave N+ open and seeding, after a variable period of time (between let's say 6 and 24 hours) its CPU usage will spike very high, and remain high thereafter. If I run htop during this high CPU usage phase I see two PIDs associated with nicotine with very high usage (~150% and ~85%). Restarting nicotine

[2017-03-14 23:15] sunox1 commented on #54
This seems to be tied to certain problematic users.

In the past few weeks I have noticed some strange attempted transfers. A few times in the past few weeks I have encountered situations where a user queues up some transfers, and it stalls for seemingly no reason, sometimes after transferring a little bit of a file. Many times (maybe all of the time), not long after it stalls, the queued files st

[2017-03-16 07:57] zniavre commented on #53
good morning

So i investigate more and i hav found that this option is missing mpris or rhythmbox option  (like now playing is missing RB too) so i just added "rhythmbox $" to send to player aera

![capture du 2017-03-16 08-56-07](https://cloud.githubusercontent.com/assets/2409578/23986845/8e5b63bc-0a26-11e7-9d45-49e813aba332.png)

it works now ...  sorry for disturbing

[2017-03-23 20:23] gfarmerfr commented on #53
Hi @zniavre,

Sorry for the late response.
I've added "rhythmbox $" to the default list of player for 1.4.2.

To make now playing works with rhythmbox you shoul use the MPRIS(v2) option on the nicotine+ side and check that the corresponding MPRIS plugin is activated in rhythmbox and it should work.
the old "Rhythmbox" option of nowplaying was removed via this commit efd1ee1 because since some time

[2017-04-11 18:10] gfarmerfr commented on #51
Closing this issue since it was fixed in 1.4.0

[2017-04-11 18:10] #51 closed

[2017-04-11 18:14] gfarmerfr commented on #54
Hi @sunox1,

I don't think anyone is trying to hijack you but I could be wrong. It might just be a defective client cancelling its requests or something similar.

[2017-04-12 03:53] sunox1 commented on #54
Ok, well that's reassuring. I just thought I would bring it to your attention in case it was helpful in some way. It could be an issue with soulseek in general - I haven't bothered to do a comparison with QT.

Thanks as always.

[2017-04-13 12:50] ibrokemypie opened #56 "SSL Certificate Expired"
https://www.nicotine-plus.org/ is reported to be using an expired ssl certificate, according to Chromium.
The message is as follows:
This server could not prove that it is www.nicotine-plus.org; its security certificate expired 69 days ago. This may be caused by a misconfiguration or an attacker intercepting your connection. Your computer's clock is currently set to Thursday, 13 April 2017. Does t

[2017-04-14 05:05] ibrokemypie opened #57 "Segfault When Getting User Info"
zsh: segmentation fault  nicotine
no other error is reported.

[2017-04-14 05:21] ibrokemypie opened #58 "Brew OSX Install"
I have created a pull request on homebrew core to include nictotineplus. It builds and runs, however I think it needs some polish as well as perhaps reverting at least some of https://github.com/Nicotine-Plus/nicotine-plus/commit/c4f1435ac057afeff522d447cc1122530454f619
PR is here https://github.com/Homebrew/homebrew-core/pull/12400

[2017-04-14 13:26] ibrokemypie opened #59 "Crash When Selecting Text"
Reproducible. Crashes on OSX whenever text is selected. Could be linked to being unable to paste text.
 CoreDragMessageHandler : Cannot track drag receiver.  No pasteboard name.
zsh: segmentation fault  nicotine

[2017-04-14 13:46] ibrokemypie commented on #59
fixed.
was caused by an issue where apps started in tmux are unaible to access OSX pasteboard
now using tmux set-option -g default-command 'exec reattach-to-user-namespace -l zsh' and the brew app reattach-to-user-namespace to work around that

[2017-04-14 13:46] #59 closed

[2017-05-01 09:33] throwaway217 commented on #17
Soulseekqt is such a clusterfuck on linux that probably all linux users will migrate to nicotine+ after this lands.

[2017-06-23 23:34] zalloy opened #60 "Segmentation fault on Ubuntu Gnome 17.04"
Nicotine used to work on this machine. However, since this afternoon, every time I try to start it it closes as soon as it tries to scan/rebuild my share directory.

I tried starting it from Terminal, and all that shows is `Segmentation fault (core dumped)`

Any idea how I can get this working again? It's a real drag having to use SoulseekQT, because that client doesn't even save my settings on ex

[2017-07-17 10:56] mozai1 opened #61 "filenames with ? in them get stuck on uploads list"
I'm running arch linux.
Great work on the upgrade!

[2017-08-09 13:19] neiljt opened #62 "Nicotine+ Windows 8.1 (64-bit) mutagen attempts to handle non-video files"
Nicotine+ version 1.4.1

While rebuilding buddy shares:

14:10:25 Rescanning Buddy Shares started
14:10:25 0 directories found before rescan/rebuild
14:10:27 4769 directories found after rescan/rebuild
14:10:38 Mutagen crashed on 'S:\Video\Movies\Knowing\checksums.db': not a MP4 file
14:10:43 Mutagen crashed on 'S:\Video\Movies\Drag Me To Hell\checksums.db': not a MP4 file
14:10:58 Mutagen crashed

[2017-08-09 13:22] neiljt opened #63 "Nicotine+ 1.4.1, windows 8.1 (64-bit) errors when using UPNP"
13:58:43 UPnP exception: UPnPPortMapping instance has no attribute 'externalipaddress'
13:58:43 Failed to automate the creation of UPnP Port Mapping rule.

[2017-08-09 13:24] neiljt opened #64 "Nicotine+ 1.4.1, windows 8.1 (64-bit) Spurious error messages"
At 1st run the configuration wizard is launched, and i provided all the necessary information. On conclusion, the log shows the following:

13:45:56 You need to configure your settings (Server, Username, Password, Download Directory) before connecting...
13:45:56 Config option unset: Section: server, Option: passw
13:45:56 Config option unset: Section: server, Option: login

I checked the settings

[2017-08-09 13:28] neiljt opened #65 "Nicotine + 1.4.1, windows 8.1 (64-bit) buttons not working"
The following buttons don't work:

Configuration wizard:  "check my ports (opens in your browser)", no action: there was an open browser window (chrome), but neither a new window, nor a new tab opened.

Settings/Server: "Check port status", no action, same as above

[2017-09-17 11:17] shiznix opened #66 "Downloads directory is not shared"
As above, is impossible to share.

In Settings > Transfers > Downloads > 'Share download directory' is checked, but does not share

Tried adding the Downloads directory via Settings > Shares > Public Shares > Add, but does not share either

Shares > Rescan shares
`Rescanning started`
`Rescanning: Checking 0 directories`
`Rescanning: Found 0 directories`
`Rescanning finished`

[2017-10-01 18:46] df0ecc opened #67 "IP Binding fails"
I am using N+ 1.4.1-2 on Linux. I use a VPN and like using the bind to IP feature. Whenever I run "nicotine -b #.#.#.#", initially it works as it should, but if left on for an extended period the connection eventually drops. They are no status updates given when this happens, just quietly stops working, unable to search & transfer anything. Nicotine without the bind switch works fine.

[2017-10-04 03:47] sla0101 commented on #8
Hi how'a this coming along?

Looks like things have slowed down? :(

[2017-10-09 05:55] Geyup commented on #8
@gfarmerfr are you still around and doing ok?

I don't see anything going on for a long time, I thought you'd still be hacking away... :(

[2017-10-12 22:53] zalloy opened #68 "Can't share directories"
I just updated Nicotine+ from the Ubuntu PPA, and as I was setting it up I found that I wasn't able to share my ~/Music directory. I was getting an error message about not sharing my home directory. So, to get around that, I made a copy of that directory on another drive and tried to share that, but still getting that same error message.

Why isn't it allowing me to share the copy that's on anothe

[2017-11-08 23:06] Geyup commented on #8
Oh I'm sad, it's coming up almost 2 years since I posted this, I can't believe it's been that long.

I hope you are doing ok gfarmerfr, and maybe you just have a life is all.... LOL

Maybe one day this can be fixed...

[2017-11-11 15:03] gypsy-g opened #70 "How do I install it?"
Forgive me I'm frustrated to high hell with explanations that are NOT specific instructions; where the site says "How to install" ...explains the use of aptitude, and nothing specific on how to install nicotine. Nicotine is not even mentioned. This does NOT explain to anyone how to install anything, only explains command syntax for apt...not how to apply it to the zip file, or what directory (if a

[2017-11-14 03:19] sla0101 commented on #70
Hello gypsy-g,

I'm a user just like you, but I have experience, you clearly don't, and I'm not saying that to be rude, but you also don't seem to understand Internet Eitiquite either.

Problems like this, you take up with your Distro on how to install applications...

```python setup.py install``` is what you do...

But then that just dumps everything into the system, so it's better to go to the

[2017-11-15 06:41] gypsy-g commented on #70
First, THANK YOU.
Second: Exactly my point. Except that as you've advised "when you've installed it", which isn't explained...which you've explained concisely and more explicitly than I'd otherwise be inclined to expect, exactly why I intended to "ward off" those who, while experienced yes, aren't really interested in helping others. By now whatever I've done I've had no idea how to undo except to

[2017-11-16 04:10] sla0101 commented on #70
Sorry to hear you ran into a mess. I suggest if you don't know it, to use Clonezilla to make backup images, just burn it to USB and run it, it's that's easy to figure it out as you go along, so next time, before doing something you have a clonezilla backup in place...

Peace too... :)

[2017-11-17 14:12] gypsy-g commented on #70
Thanks. I know now what the actual issue may have been and only attempted
to work around...that a system folder (music) somehow accidentally got
deleted, where nictotine was point to save downloads. That seems to have
broken the entire installation in all kinds of weird ways, ultimately
forcing a re-installation. No worry, I'm back to normal and haven't lost
anything. :)

On Wed, Nov 15, 2017 at 1

[2017-12-14 21:59] Mutnick commented on #56
It looks like there's a fresh certificate, so closing this.

[2017-12-14 21:59] #56 closed

[2018-01-13 04:05] Geyup commented on #8
@gfarmerfr hello are you still around?

Thanks

[2018-01-13 23:44] sla0101 opened #73 "Question: Is Development Dead?"
One thing I noticed when gfarmerfr took over the project, it seemed like at that point in time it was really being worked on, now almost a year since the last release there hasn't been anything, and there are still a lot of things to be worked out.

The ```Columns Position Not Being Maintained```, I agree, this really turns me off over using nicotine-plus, constantly having to move everything arou

[2018-01-17 18:55] Mutnick commented on #73
Hi @sla0101, indeed @gfarmerfr  put in a commendable amount of work on the project and he appears to be on hiatus. It's great when someone puts in a lot of effort like that but realistically, that's not something we are entitled to, it's just great when it happens.

The main point is anyone should feel free to contribute to development here. I'll probably put more dev time into the project myself

[2018-01-18 03:21] sla0101 commented on #73
Hi,

Well gfarmerfr was certainly going at it, and the last it seemed like he was going to keep this alive, and working on new releases, so not sure what happened...

Anyhow, in regards to the Columns Position Not Being Maintained, is this something you can do?

I personally don't have any issues using this, other then the columns not being maintained, which is a real negative for me, always havin

[2018-01-19 01:25] Mutnick commented on #73
Closing this, as issue already exists - https://github.com/Nicotine-Plus/nicotine-plus/issues/8

[2018-01-19 01:25] #73 closed

[2018-01-20 08:32] sla0101 commented on #73
@Mutnick are you able to work on the Columns Positions?

Thanks

[2018-01-29 00:45] Geyup commented on #8
Hi,

Is there anyone around that is reading this, that has the coding skills to fix this?

This issue has always existed, and I was happy when I saw gfarmerfr reply, thinking this would of been fixed by now...

Thanks

[2018-02-02 00:43] Mutnick commented on #8
@Geyup I should have time to look at it this weekend. I think saving and restoring the column widths could be trivial to implement.  Do you also re-arrange the order of columns?

[2018-02-02 06:31] Geyup commented on #8
@Mutnick, hi, well it's been a long time since I've used nicotine, and last I remember, all I did was uncheck sections I don't use, that's all.

So as to re-arrange, move them around? No I don't do this.

This is AMAZING if this can finally be fixed, I'm surprised more people haven't been talking about this. To me this is the #1 problem for me about this app...

THANKS

[2018-02-05 19:24] Mutnick commented on #8
Implemented an initial fix for this. The initial requester has ghosted and anyone trying out this functionality is welcome to leave feedback.

[2018-02-05 19:27] zniavre commented on #8
im tryng right now, even if i do not understand the colums bug and do not see really which improvements came with it , nicotine+ still working great and this is THE point for me ...   :o)

thank you for fix ...

[2018-02-06 10:09] 0pLuS0 commented on #8
@Mutnick I tested this and I see the same problems...

For now I only tested one section ```Search files```.

I unchecked two columns, ```Country``` and ```Directory```, now when restarting I see ```Directory``` will always return, but the columns seem to be staying in the same place, but hard to tell since ```Directory``` keeps returning, and it appears to move the columns a little.

Also somethi

[2018-02-09 16:11] MarkoIndaco commented on #8
I guys, I add myself to the list. I have the exact problem mentioned in the title post. If can help I'm on Linux Mint 18.2 (Cinnamon - 64bit). I'm new with Linux so every suggest are pretty appreciated.
Thank you in advance

[2018-02-11 06:43] 0pLuS0 commented on #8
I have all the same problems, so let's not worry about the Ghost.

I just hope Mutnick doesn't have to much of a life, and we can get this fixed...

I too have wished for this all to be fixed, using Nicotine, always have to adjust it is not pleasant.

[2018-02-11 13:32] MarkoIndaco commented on #8
Yeah i got it. I was thinking for something like "run a little script" every Nicotine starts, but I have no skills to writing code. It would be possibile something like that?

[2018-02-15 20:18] nemanjan00 opened #75 "Queue not refreshing?"
Hello,

When I press get place in queue, number does not refresh.

What should I do?

For one user, it just started directly from 100+ number.

Should I just wait?

[2018-02-16 07:04] 0pLuS0 commented on #8
No script, the code needs bugs worked out of it.

@Mutnick hello... :)

[2018-02-21 21:22] 0pLuS0 commented on #8
@Mutnick hello, did you see my reply?

There's still some issues...

Thanks

[2018-03-19 01:34] teledyn opened #76 "Feature request: USR signals controls?"
would it be possible to signal nicotine to do a connect/disconnect? for example, to use kill -USR1 to toggle the disconnect/connect controls.  This would enable scheduling via cron :)

[2018-04-02 20:04] Mutnick commented on #76
Hi @teledyn I'd say this isn't needed as new feature as you likely can send keypresses to the nicotine+ process, alt-c for connect and alt-d for disconnect.

Examples for linux/x11 using xdotool:

disconnect
xdotool windowactivate $(xdotool search --name "Nicotine\+") key alt+d

connect
xdotool windowactivate $(xdotool search --name "Nicotine\+") key alt+c

Adjust as appropriate, what utility and

[2018-04-02 20:04] #76 closed

[2018-04-03 04:53] 0pLuS0 opened #77 "select ValueError: filedescriptor out of range in select()"
When doing a search in Linux in 1.4.1 at the terminal, I noticed the terminal filled up with these messages;

18:50:56 select ValueError: filedescriptor out of range in select()
18:50:56 select ValueError: filedescriptor out of range in select()
18:50:56 select ValueError: filedescriptor out of range in select()
18:50:56 select ValueError: filedescriptor out of range in select()
18:50:56 select Va

[2018-04-03 04:57] 0pLuS0 commented on #8
@Mutnick hello, are you still out there?

We need you!

I still have problems with this, I hope you can please fix?

Thank you

[2018-04-08 18:44] #75 closed

[2018-04-23 04:27] 0pLuS0 commented on #8
@Mutnick found another issue in the ```Downloads``` section, ```Path``` keeps returning when I uncheck it...

[2018-04-30 01:30] 0pLuS0 opened #78 "Development Dead: Can Someone Please Pick Up The Project?"
Hello,

If anyone reads/sees this, can someone please pick up this project and bring it into active ongoing development?

I personally don't get why an application like this would ever die, because what really is the alternative here that can match this? I personally am not aware of any such application, where you can find the same level of quaility music online through another P2P app like Nicoti

[2018-05-01 20:28] Mutnick commented on #78
Closing this as it's best to keep general grievances out of an area intended for actual code issues and ideas. Thanks for your understanding, @0pLuS0.

[2018-05-01 20:28] #78 closed

[2018-05-13 00:33] 0pLuS0 commented on #8
@Mutnick all this time I forgot to mention, the problems with the Columns is not an ```Enhancement``` the Columns have a  ```Bug``` with not maintaining position, and sections returning when unchecked...

I hope you will have time to work on this, because everytime closing and reopening nicotine, you always have to reposition everything over...

Thanks

[2018-05-13 00:55] 0pLuS0 opened #79 "The Columns Is A Bug Not An Enhancement"
@Mutnick hello,

I first want to say that I am not trying to be disrespectful here, but just trying to get your attention, because in all honesty, when I made the last post over the development being dead, I truly thought it was.

I made a reply 3 months ago for the Columns with no word back, but I deleted those replies since then;

https://github.com/Nicotine-Plus/nicotine-plus/issues/8

So this

[2018-07-05 01:02] 0pLuS0 commented on #79
@Mutnick any word on future development, is the project still alive?

Thanks

[2018-07-18 09:30] df0ecc commented on #54
Was experiencing this recently. Since disabling the auto-join of 'Nicotine' chatroom it seems to have stopped. Also, I am not joined in any other rooms.

[2018-08-25 16:13] gianniqq opened #81 "blurry tray icon in kde plasma"
Hi, I'd like to signal that (at least) on KDE-based systems the tray icon is blurry.

![screenshot_20180825_180903](https://user-images.githubusercontent.com/4668449/44620297-fe00f500-a891-11e8-9c9b-bbdf2e162c95.png)

My system information is:
OS: KDE neon
KDE Plasma: 5.13.4
KDE Frameworks: 5.49.0
Qt: 5.11.1
Kernel: 4.15.15-041515-generic

Nicotine+: 1.4.1

[2018-09-20 00:40] 0pLuS0 commented on #79
@Mutnick hi, are you still working on nicotine-plus?

If so, any chance of getting this issue fixed any time soon?

Thank you

[2018-10-04 22:28] CJunit opened #82 "File name lengths "too long" on ext4"
Hello! I am currently using the 1.2.16 version on Neon which I installed with Muon a while back. And I regularly download folders only to find files missing because of file length problems. As I understand it, on an ext4 file names can be 255 bytes long... But Nicotine registers this error when they are somewhere around 90-99 characters. Likewise, I can download these with Soulseek client on a Mac

[2018-10-13 08:11] alekksander commented on #81
confirm

[2018-10-26 01:07] 0pLuS0 commented on #79
@kiplingw are you also working on this project, that you might be able to fix this?

Thanks

[2018-10-26 01:54] kiplingw commented on #79
Hey @0pLuS0. @Mutnick is actually the primary project lead. I haven't heard from him in a while either. You can try reaching him at gfarmerfr at free dot fr. We also have a \#nicotine channel on Freenode you're welcome to idle in - though I haven't seen @Mutnick in it in quite some time.

[2018-10-27 00:28] 0pLuS0 commented on #79
@kiplingw

You gave me gfarmerfr's email address and I reached out to him last year, he's tied up.

 Mutnick seems to be MIA too... :(

You can't code on this too, and fix it?

This is so sad that it has UI issues that have gone on for years... :(

Maybe if you can't code/fix this, you can find some other Coding Buddies that can, or round some up?

I personally don't get why someone would let this

[2018-10-27 01:54] kiplingw commented on #79
I actually don't do a lot of Python, but if you happen to submit a patch I'd be happy to review it for you. And yes, I agree Nicotine+ is a great project which gives access to a great network.

[2018-10-28 23:49] 0pLuS0 commented on #79
I'm not a coder, so I have no ideas here...

I've been Geeking it many years in the area of P2P and for music nothing can tough this, and it's just so sad seeing the project dead!

@ kiplingw, maye you can round up some Geek Coder Buddies? Or figure out some way to do this?I know there's the bounty site, but I mean, whatever circles you hang in, maybe spread the word around...

I'm trying to think

[2018-10-28 23:51] 0pLuS0 commented on #79
I'm not a coder, so I have no ideas here...

I've been Geeking it many years in the area of P2P and for music nothing can touch this, and it's just so sad seeing the project dead!

@kiplingw, maybe you can round up some Geek Coder Buddies? Or figure out some way to do this?I know there's the bounty site, but I mean, whatever circles you hang in, maybe spread the word around...

I'm trying to think

[2018-10-28 23:54] kiplingw commented on #79
@0pLuS0, when you manage to round up some "Geek Coder Buddies" and your patch is ready for submission, the volunteers here will be happy to review it.

[2018-10-29 01:28] 0pLuS0 commented on #79
@kiplingw, volunteers?

Who, where is this group of volunteers you are mentioning?

I'm only seeing you alive around here for now...

Hmm

[2018-11-19 16:57] addfrustration opened #83 "Problems sharing files"
I'm running Nicotine + 1.2.16 on Debian 9.0.4 linux 4.9.0.3 amd64 on x86_64
I had trouble sharing a large directory, so I broke it up and shared incrementally with some success.
Only files with vbr attribute will share, so two thirds or more of my files do not appear in my browse list.
Debugging shows mutagen.py is throwing an exception when it can't find the attribute, I can't remember which line

[2018-11-19 17:03] addfrustration commented on #83
I can still use this program with considerable success.
It would be good to kill off some of the bugs in it.
I am willing to help but I am not a programmer.
I don't get what is meant by beta issue, and can't find anything useful in others posts.

[2018-11-20 19:11] zniavre commented on #83
good evening, im not dev or programmer
basic user and reader of this page
you should try the lastest version of nicotine+ wich is 1.4.2
 there > https://github.com/Nicotine-Plus
then you should delete all config files from old version and start nic+

[2018-11-21 01:59] addfrustration commented on #83
Thank you for your interest.
I have the latest version of nicotine+ available on the Debian repo.
what may be available for other Operating systems, is not useful to me.
I also have computers that run Windows and I use Soulseek ns on these
computers without any real issues.
I am slowly getting Windows out of my life and finding linux software that
can do the things that are important to me, quite

[2018-11-21 07:11] zniavre commented on #83
as you want , do not expect new .deb for debian based soon.

Le mer. 21 nov. 2018 à 02:59, addfrustration <notifications@github.com> a
écrit :

[2018-12-06 22:00] winchendonsprings opened #84 "Choosing "Download containing folder(s)" from search results does nothing"

[2018-12-06 22:03] winchendonsprings commented on #84
When my search results appear and I see a file and I want to download the entire folder that file is with in I right click, choose "Download containing folder(s)." It does work about 20% of the time. The other 80% of the time nothing happens. Nothing in the log window and nothing appears in Downloads tab.

[2018-12-19 21:01] march-hare1 opened #85 "Uploads not working"
Hi!  Unlike others who have commented, I don't have the issue of Uploads folders not getting recognized that I can see, it's just a matter of Nicotine+ 1.4.2 on Linux Mint 19 64-bit I uploaded from the PPA as not showing that I am not sharing.  I was just informed by someone I was downloading from and I look like a JERK because of it. Anyone have any suggestions on how to fix this situation? Thank

[2019-01-01 06:07] addfrustration commented on #54
I am using Nicotine + 1.4.1 on Debian 9.0.4 Linux 4.9.0-3. amd 64. intel dual core  at 3066mhz 4gb ram.
I also have a cpu spike issue.
I have managed to copy and paste debug information to a text file, but I have difficulty opening a text file of 68 mb.
When my cpu spikes it also uses more than a gig of swap file. Normally my system does not use swap file.
It seems to occur when someone makes a Br

[2019-01-27 08:40] #67 closed

[2019-01-27 08:45] df0ecc commented on #67
Possibly this was unrelated to IP binding. Recently experienced another moment where things just quietly stopped working w/o binding.

[2019-02-12 05:48] 0pLuS0 commented on #79
Anyone know anything going on with this project?

There's been no development in 2 years, and I'm still holding my breath, so sad, such an awesome application, and like no one uses it?

Hmm

[2019-02-12 11:39] isAAAc commented on #79
i use the app sometimes, but i don't know anything if someone is still maintaining it :/

[2019-02-12 22:12] 0pLuS0 commented on #79
@isAAAc No one is maintaining it, I asked if anyone knew what is going on is all.

Sad to see this die, the truth is, which no one seems to realize is for a P2P music app like this, there is no equal, and that in and of itself is why it's so odd, that this would die off too... hmm

[2019-02-12 23:45] kiplingw commented on #79
Hey guys. Nicotine+ is not dead. Our project lead has been away with other responsibilities but never gave any indication his absence was permanent. Further, it hasn't been two years of inactivity, but only one if you examine the git log.

[2019-02-13 00:30] 0pLuS0 commented on #79
@kiplingw that was a Version Bump, I hardly see that as qualifying as "Development", don't mean that as rude, but it's not development...

Anyhow, sad to see this die, it's sorely needed...

So any really actual software development has been 2 years...

[2019-02-13 01:03] kiplingw commented on #79
I've just emailed gfarmer. I tried a few months ago but was having mail server issues. I'll let you know if I hear back from him. Admittedly even a year is too long.

[2019-02-13 03:24] 0pLuS0 commented on #79
I was in contact with him the past, needed to move on in life...

Truth is, we need someone else to take over...

[2019-02-13 04:26] kiplingw commented on #79
I agree we need to continue development. But it seems odd gfarmer would leave without any comment. I just assumed he was dealing with other things.

[2019-02-13 05:39] 0pLuS0 commented on #79
Hey people have a life, they move on...

gfarmer is gone, that's over, I contacted him years back and he said he can't work on this.

We just need to get someone else is all.

[2019-03-20 13:16] geotmt1 opened #86 "SEGMENTATION FAULT"
Running from my raspberry pi 3 with the latest raspbian.

pi@raspberrypi:~/Downloads/nicotine-plus-master $ python nicotine

/usr/lib/python2.7/dist-packages/gtk-2.0/gtk/__init__.py:57: GtkWarning: could not open display
  warnings.warn(str(e), _gtk.Warning)
/home/pi/Downloads/nicotine-plus-master/pynicotine/gtkgui/frame.py:83: Warning: invalid (NULL) pointer instance
  builder.add_from_file(os.pa

[2019-04-01 12:56] #86 closed

[2019-04-03 03:53] tinglycraniumplacidly commented on #57
Hi, what version of Nicotine+ are you running? I'm not able to reproduce with v 1.4.2

[2019-04-03 04:09] tinglycraniumplacidly commented on #84
For the 20%/80%, is that for the same search result? Meaning, you try it once and it fails, and then you can keep trying on the same result and eventually it will succeed?

Have you taken a look at your Debug output? Can you post?

I'm asking because when I initially put "I Cn **

[2019-04-05 09:09] alexandre1985 opened #87 "Upnp problem"
My system is Manjaro Linux Deepin x64.
I have firewall.
I have configured Nicotine+ to use UPnP. I have `miniupnpc` installed.
When I run Nicotine+ I get this error:
[code]
Need help

[2019-04-05 09:18] alexandre1985 commented on #87
My router has UPnP disable.
That's why.

[2019-04-05 09:18] #87 closed

[2019-04-26 13:13] jonathanballs opened #88 "UI very condensed on high-dpi linux."
Running Nicotine-plus on Arch Linux 64bit with a 4k screen. The application opens at the right size and the text is the correct size however the "spacing" is way off and the application looks unnaturally compacted. This is on two times scaling so I'm assuming that the columns widths have just not been scaled properly.

I am not sure entirely why this is happening. I have built GTK apps before and

[2019-04-26 23:44] fawngarden commented on #54
I can't seem to figure out any of the free software bug bounty sites because I am not very smart, but if anyone is willing to put this issue on Issuehunt, Gitcoin, or etc., I will contribute some money. It's been a persistent issue for a long time, and I'm a daily user.

[2019-05-07 20:10] morgannunan opened #89 "Wishlist returns empty results for foreign characters"
If I add titles to my wishlist that are in the Roman alphabet, I will get results when those titles are located. However, if I add a title in Japanese, when Nicotine finds a match it will pop up a tab, but the tab will be empty.

This implies to me that it's finding results, but filtering them out.

[2019-05-15 01:37] 0pLuS0 opened #90 "New Commits - Is Development Back?"
Hello,

I see there are some new commits for 2019, does this mean development is back, and can we expect any new releases soon?

If development is back, I hope the Columns issue that was reported  3 years ago is fixed...

https://github.com/Nicotine-Plus/nicotine-plus/issues/8

THANKS

[2019-05-25 04:01] lateparty opened #91 "Filter doesn't include directory path"
When comparing the behaviour between the filter to SoulseekQt 2018.1.30 I noticed that Nicotine+ does not include the directory path.

Expected behaviour would be to include the directory path in the filtering.

[2019-06-23 11:37] TomJansen commented on #63
I have this too on Arch linux. Is this an Nicotine+ issue or miniupnp issue?

[2019-06-23 12:38] TomJansen commented on #63
Ah oops it was a router issue

[2019-07-31 17:24] 8wB5JyC8QoqtWJU8PYrxh4psxf8YPwgzn4zEI opened #94 "XDG Base Directory Support"
Please consider adopting the freedesktop.org [standard.](https://wiki.archlinux.org/index.php/XDG_Base_Directory)

This would reduce home directory pollution and follow the expected behavior of linux applications, which can also help with backup programs which ignore `~/.cache`.

The change should be simple, generally it's just checking for the XDG base directory environmental variables, and if th

[2019-08-06 19:58] plagasul opened #95 "Running CLI on raspbian"
Is it possible to use nicotine to connect to soulseek via CLI , particularly on raspbian?

Thank you

[2019-08-26 16:55] omrisim210 opened #96 "Flagged by antivirus"
On my Windows 10 PC Malwarebytes flags `Nicotine.-1.4.1.exe` as "Generic.Malware/Suspicious".
Interestingly enough, on Virustotal ([link](https://www.virustotal.com/gui/file/e025535a85d946f88b0551c98410a52e72f121951caef3ec4e47b7df0b19c5e8/detection)) MB doesn't flag the same file but some other antivirus programs do.

Is there a reason to suspect Nicotine+ or is this a false alarm?

Also, would ge

[2019-08-30 19:11] holytrousers commented on #84
have you checked whether your port is open ?
http://tools.slsknet.org/porttest.php?port=2234

[2019-09-26 02:09] 0pLuS0 commented on #79
@vsedach or @Mutnick Hi

Do either of you have the coding skills to fix this columns issue?

Thanks

[2019-09-26 02:12] kiplingw commented on #79
@0pLuS0, see https://github.com/Nicotine-Plus/nicotine-plus/issues/79#issuecomment-433754349.

[2019-09-26 23:45] 0pLuS0 commented on #79
I don't have Geek Coder buddies, or know someone, I thought maybe I mentioned that before.

Also I was hoping to hear from either @vsedach or @Mutnick, so are you speaking on their behalf too, that neither of them, or anyone that is helping on this project has the coding skills?

THANKS

[2019-09-26 23:52] vsedach commented on #79
0pLuS0 <notifications@github.com> writes:

What issue are you talking about?

--
Vladimir Sedach
Software engineering services in Los Angeles https://oneofus.la

[2019-09-27 23:00] 0pLuS0 commented on #79
@vsedach Hi,

I listed the issue in the beginning #8

Thanks

[2019-09-28 02:14] vsedach commented on #79
0pLuS0 <notifications@github.com> writes:

That looks fairly straightforward.

Here are a couple of freely available books you can use to learn
Python and fix the issue:
https://automatetheboringstuff.com/
http://greenteapress.com/thinkpython/html/index.html

Check out the #python IRC channel on irc.freenode.net if you have questions.

--
Vladimir Sedach
Software engineering services in Los Angele

[2019-09-28 23:01] 0pLuS0 commented on #79
I'm not in any position at present, or in the future to get into coding.

I'm only reporting the issue and hoping someone can fix it.

It is a bug in the application, that needs fixing.

THANKS

[2019-09-28 23:30] kiplingw commented on #79
@0pLuS0, we're all volunteers here and most of us don't have time to supply patches. We appreciate your enthusiasm, but if you cannot provide a patch after repeated inquiries here on the status of the reported issue, then please consider offering a [bounty](https://en.wikipedia.org/wiki/Bounty_(reward)#Open-source_software).

[2019-09-30 23:45] 0pLuS0 commented on #79
@kiplingw

I'm a Geek, I know how Open Source works. I've been asking because I noticed other people I didn't recall seeing before like vsedach. So if you look back on this ```Issue Report``` you will see that I've never mentioned vsedach until now. I've only asked about Mutnick in the past, and as the ```Project Lead``` you mentioned, I was hoping to finally hear a word by now in all this time.

[2019-10-01 00:43] kiplingw commented on #79
I'm going to make a suggestion to you that you stop referring to people you've never met as "geeks". For a lot of people it's a pejorative. If you want to refer to yourself as that, by all means do so.

Then as I said already, offer a bounty and you just might see your issue prioritized.

[2019-10-02 22:54] 0pLuS0 commented on #79
A Geek is actually an expert or enthusiast in their chosen passion. The pejorative you speak of, is the ignorant that still continue to think and look at it in the same manner, as when the word was first coined, and that was a long time ago, and the pejorative is dead, Geeks are Experts...

Anyhow, enough said, I'll just keep my eyes on the project, and hopefully in time it will get picked back up

[2019-10-12 20:49] gahag commented on #94
Can I work on this?

[2019-10-12 20:51] eLvErDe commented on #94
Sure, if you're wiling to

[2019-10-12 21:59] gahag commented on #94
Ok, in progress. Should be done by tomorrow, will hit you up if anything.

[2019-11-19 12:00] dvzrv opened #99 "Port to python3"
Will nicotine+ be ported to python3?

I see very little activity in the repository in the past months and would just like to highlight, that [python2 is soon EOL](https://pythonclock.org/).
This means, that many Linux distributions will drop all python2 based software shortly thereafter from their repositories.

If no port is attempted: Are there alternatives?

[2019-11-19 12:38] zniavre commented on #99
re-install python2 and make it running as usual ....

[2019-11-19 19:06] dvzrv commented on #99
How very... helpful.

[2019-11-19 19:54] bernd-wechner commented on #99
An option. But many of us are glad to see Python 2 go ...  and the question was if there are any alternatives. But yes the SoulseekQT client still works methinks.

http://www.soulseekqt.net/news/node/1

It's no Open Source, but it works.

The port to Python3 is a job indeed, but not a huge one (process is simple enough especially if there's a test suite that has good coverage already built, but te

[2019-12-14 19:44] zebulon-1st opened #100 "Nicotine+ 1.4.2, Debian 9 (64-bit) Downloading file size >2GB appears as negative numbers, files near 4GB download 0 byte."
Surely because of the use of signed 32-bit integers.
Use either unsigned 32-bit integers, or (better) 64-bit integers.

[1] Console output, when I try to continue a file of size 3GB, and I already have downloaded more than 2GB
[code]
After this error, all other downloads are frozen.
And, I have to
- quit Nicotine+
- delete temporary downloaded file that make the exception (3GB, downloaded 2GB+)
-

[2019-12-22 23:02] aquila-XP opened #101 "Nicotine+ 1.4.1 don't handle invalid characters in Windows"
Hi gfarmerfr,

Please fix these bugs that I encountered on the Windows 10 x64 OS:
1-st bug: It seems that Nicotine+ 1.4.1 is not handling invalid characters on Windows OS.
I tried to download a file with this name: _http:::www.war3z.altervista.org:madonna.mp3_ from a user that is using a Mac-OS and I get these messages:

`Failed download: user murgoros, file @@fujqk\Downloads\Keygen App 2018 v1 2

[2020-01-03 08:11] oknozor commented on #85
Hello @march-hare1, I got exactly the same problem with nicotine `1.4.1-4` on arch.

Maybe you could check permissions on your shared folder just in case. You could also check if your shared folder is on a mounted device with correct permissions (usb, sdcard).

I don't think it's a permission issue in my case since i've got the following rights on my music directory : `drwxr-xr-- 82 okno okno 4.0K

[2020-01-08 23:45] LeandroStanger opened #102 "Flatpak build"
Please, consider supporting [Flatpak](http://docs.flatpak.org/en/latest/introduction.html#reasons-to-use-flatpak) and publishing Nicotine+ on [Flathub](https://github.com/flathub/flathub/wiki/App-Submission).

[2020-01-09 19:18] thismachinechills commented on #99
I've been using this software for like 15 years and am willing to port the pynicotine portion of Nicotine+ over to Python 3. If anyone would like to participate, ping me on my personal site

[2020-01-20 17:20] EhotPotaskun opened #103 "Random crash on Raspbian"
My Nicotine crashes randomly, i think it is happening when i interacting with interface, scroll the list, click on buttons etc.

Here is some crash logs i got

[nico2.txt](https://github.com/Nicotine-Plus/nicotine-plus/files/4087228/nico2.txt)
[nico.txt](https://github.com/Nicotine-Plus/nicotine-plus/files/4087229/nico.txt)

I was encounter this crash more often using 1.2 version from Raspbian rep

[2020-01-29 10:09] lope opened #104 "Bitrate not shown for most music in search results"
![image](https://user-images.githubusercontent.com/2905035/73347294-0849ce80-4290-11ea-8eed-d392ddaac631.png)

[2020-02-08 18:24] Maryse47 commented on #102
Here's working flatpak manifest:

[code]

[code]

[2020-02-10 09:33] lene commented on #99
I've done some work at https://github.com/lene/nicotine-plus/tree/python3. As soon as I can get the client to do something useful, e.g. connect to the server, I'll open a PR here.

[2020-02-10 16:38] dvzrv commented on #99
@lene that's great news. Thanks for your work on this!

[2020-02-24 16:04] zebulon-1st opened #107 "Nicotine+ 1.4.2, Debian 9 (64 bit) : Can't get shared files + current downloads disappeared : since the last but one update, from branch master"
Console output, when (but not always) I ask shared files from someone of my friends-list :
[code]

[2020-02-25 00:27] kiplingw commented on #107
Hey @zebulon-1st. Can you confirm if this happens on the latest deb from the unstable daily PPA?

[2020-02-25 12:18] zebulon-1st commented on #107
Debian don't use PPA. It's Ubuntu specific.

[2020-02-25 15:44] kiplingw commented on #107
I'm aware of that. But provided the dependencies are satisfied, it should at least install. The Debian downstream package is updated on a glacial time frame.

[2020-02-25 20:00] zebulon-1st commented on #107
Do you have an URL for this PPA ?
From the Nicotine+ website (https://www.nicotine-plus.org/), there is only a Ubuntu/Debian PPA stable link (https://launchpad.net/~kip/+archive/ubuntu/nicotine+), which gives nothing else than an error page : "This page does not exist..."

[2020-02-25 20:03] zebulon-1st commented on #107
( I don't understand why it exists so many different Nicotine+ website/pages, and none have the sale version in it as the last -- it's really helpless )

[2020-02-25 22:45] kiplingw commented on #107
@zebulon-1st, take a look in the [README.md](https://github.com/Nicotine-Plus/nicotine-plus#ubuntu-ppa-unstable). The unstable PPA is there. The URL on the website is old. I don't have access to it. Sorry.

[2020-02-26 00:47] zebulon-1st commented on #107
Well, I didn't succeed using the PPA (on `apt update`, error « ... NO_PUBKEY 6CEB6050A30E5769 ... »). So I tried from the GITDEB, which has been more successful.

I ran it from a console (to see errors on output) `/usr/bin/nicotine` (package version is 1.4.1+git20180205200457.ab570f8-1) :
\- No error at start.
\- The current downloads, which had disappear are back shown.
\- I can get shared files

[2020-02-27 12:39] alekksander commented on #107
i confirm its unable to browse shares
`1.4.2-kip2-202002261716~ubuntu18.04.1`

[2020-02-27 19:22] kiplingw commented on #107
@lene 's PR hasn't been merged yet because he's not done with it yet, but this may be something that he's already fixed in #106. You might want to try again with his branch.

[2020-03-01 19:13] kiplingw opened #109 "Website is badly out of date"
@Mutnick, if you have access to the website, could you please update it with the latest information from the readme? Ideally the website could be a simple page that's automatically generated from the readme's markdown.

[2020-03-01 19:13] kiplingw commented on #90
Yes, development is continuing and we are trying to complete a 1.4.3 stable release (Gtk3 port with bug fixes).

[2020-03-01 19:13] #90 closed

[2020-03-05 18:04] Mike-Reddick opened #110 "Max number of downloads uploads sametime"
Please implement the feature to limit the maximum number of downloads, uploads at same time (concurrent) the same feature which have the original client.

[2020-03-05 21:12] kiplingw commented on #110
Thanks @Mike-Reddick. If you'd like to submit a PR, I will review it as soon as I am able.

[2020-03-11 21:37] Mike-Reddick commented on #110
Sorry I'm not a programmer, but I do not use Nicotine just because this limitation, is very important this feature.

[2020-03-19 02:10] 0pLuS0 commented on #90
Sounds great, I appreciate the reply.

I truly hope that this will get fixed too;

https://github.com/Nicotine-Plus/nicotine-plus/issues/79

Take care & be safe! :)

[2020-04-11 10:02] abdulocracy commented on #54
Hey, do you happen to still have that debug log around? We could find a way to get it here.

[2020-04-11 23:12] danrobi11 opened #112 "Nicotine over Lokinet?"
Hi. Im just a regular non-technical user. But I think Lokinet would be the perfect network transport for Nicotine.
- 'Lokinet is an open source layer 3 protocol. Your real IP address isn't revealed to Lokinet addresses. Lokinet can carry any IP based protocol. Lokinet is like a VPN, it accepts all data types, this makes it easy to integrate with your application. All data that travels through Loki

[2020-04-12 00:20] kiplingw commented on #112
Thanks @danrobi11. I'm not familiar with Lokinet, but my guess is this isn't an option. We didn't create the SoulSeek protocol. We just re-implement it in the Nicotine+ python implementation. There ultimately isn't anything prohibiting us from changing how this protocol works, such as the transport to UDP, adding SSL, etc, other than it will simply stop talking to other clients (most of which prob

[2020-04-12 00:20] #112 closed

[2020-04-13 16:36] felipehw commented on #102
I'm not a developer.
But I wanna know if someone is working in publish this excellent software at Flathub :)?

[2020-04-13 16:48] kiplingw commented on #102
There's currently a PPA which is just an APT repository. It's a more standardized way of distributing packages. But having said that, I'm open to Flatpaks if someone wants to prepare a PR, take responsibility for maintaining it, and wait until the Python 3 / Gtk+ 3 port is complete.

[2020-04-13 23:21] kristopolous opened #113 "images seem to be integrated from the launch directory if they have special names"
So as you can see below if you have a file named "empty.jpg" in the directory you launch the application from, it just drops it into the client as depicted.

When running strace on it, I can see it finds 2 images, the other one being in a dropdown menu.

These paths should probably be fixed. I can do this if you want, or anyone else, shouldn't be hard.

![fromhome](https://user-images.githubuserco

[2020-04-13 23:22] kristopolous commented on #113
wait, didn't realize there's a 1.4 branch ... ignore this for now.

[2020-04-13 23:28] kristopolous commented on #113
problem persists in 1.4.1 ... let me try master

[2020-04-13 23:29] kristopolous commented on #113
yep. bug is still real. ok, needs to be fixed.
![persistence](https://user-images.githubusercontent.com/231761/79170320-e0a0d780-7da3-11ea-81d5-fa2a3d38ae07.png)

[2020-04-13 23:37] kiplingw commented on #113
Thanks @kristopolous. PR welcome. I should be able to merge that as soon as you're ready. Thanks for finding that.

[2020-04-15 21:48] kristopolous commented on #113
@kiplingw ok, thanks, feel free to close this as per whatever you policies are

[2020-04-15 21:50] #113 closed

[2020-04-15 21:52] kristopolous commented on #113
hey as an aside, that was pretty fast ... do you just follow your email closely or is there some kind of special notification app you have for your phone? I could use something like that

[2020-04-15 21:56] kiplingw commented on #113
Click the "Watch" button up at the top [here](https://github.com/Nicotine-Plus/nicotine-plus/). :)

[2020-04-15 22:12] kristopolous commented on #113
ah yeah, I have a zoo of about 200 of them ... 95% of the conversations I don't have time to get into and will resolve without my participation, problem is I can't tell what 95% that is. I guess it's time for a new tool.

[2020-04-16 04:45] madprops opened #115 "Not working on Ubuntu 20.04 Focal Fossa"
Installing from the PPA doesn't work due to unavailable dependencies:

[code]

A snap package would work nicely I think, to avoid problems like this in the future

[2020-04-16 07:04] zniavre commented on #115
python2 is dead viva python3 and new devs working on it ...

[2020-04-16 19:47] kiplingw commented on #115
@madprops, what version of Ubuntu are you using? I can confirm both dependencies are present on Eoan.

[code]

But even if they've been dropped for 20.04, we're currently working on a Gtk3 port over here #106.

[2020-04-16 20:23] madprops commented on #115
https://www.phoronix.com/scan.php?page=news_item&px=Python-2-EOL-Ubuntu-20.04

[2020-04-26 01:57] alexdelorenzo opened #119 "License"
The [commit](https://github.com/Nicotine-Plus/nicotine-plus/commit/4ec8b3d36ed7e369ef7a9ce338cdedcd0125c3e9) that creates the [COPYING file](https://github.com/Nicotine-Plus/nicotine-plus/blob/master/COPYING) says that the project is "Relicense[d] under GPLv3 and LGPLv3".

Just clarifying if this is dual-licensed or not.

[2020-04-26 02:07] kiplingw commented on #119
My understanding is it's not. It's GPLv3.

[2020-04-26 02:07] #119 closed

[2020-04-28 00:58] kiplingw commented on #99
Just letting everyone know that I hope to have @lene's porting work merged as soon as possible. After that I'd like to ask everyone to please test as much as possible from the unstable PPA. If everything works properly we will release it as stable 2.0.0.

[2020-05-02 02:38] CHJ85 opened #123 "Please update Nicotine to work on the latest Ubuntu (20.04)"
Hi there.
Do you think you could please repackage Nicotine for Ubuntu 20.04?
That'd be great. Because the latest packaged version is for 19.10 and it asks for GTK+ 2.24, which is dated. When I did "sudo apt install gtk+-", it wants to delete a ton of stuff in order to be installed.
If you wish to keep the current format of Nicotine (with GTK+2), I suggest you package it in a container such as Flat

[2020-05-02 02:51] kiplingw commented on #123
Thanks @CHJ85, but please use the search feature before opening a new issue. In particular, see PR #106.

Yes, we're aware of that.

We're not going to package in Flatpak, Snap, or AppImage. Those do not have the robustness and practical field experience that Debian based packages have had for nearly two decades.

Yup. Just hold tight and we will have the porting work done soon.

[2020-05-02 02:51] #123 closed

[2020-05-02 04:43] CHJ85 commented on #123
Okay thanks 😀

[2020-05-11 00:27] bitchkat commented on #99
I just tested the latest git master on fedora 32 today and everything appears to be working -- at least I can search files, download. upload.  It is spewing a lot of messages to output regarding 'Connection closed by peer'  also 'Found meta data that couldn't be encoded, possible corrupt file'  on some flac files.  No other program -- picard, kid3, clementine is having problems reading the tags.

[2020-05-14 08:20] Seegras commented on #99
Same here, it works! But I've got "Found meta data that couldn't be encoded, possible corrupt file: 'somefile.mp3' has a bitrate of 320 kbs, a length of 252 seconds and a VBR of 0" for all the MP3s I tried to share.

[2020-05-16 07:35] danrobi11 opened #126 "(Feature Request) Stream option"
Hello
In the 'Search Files' section, right click on a file, click the 'stream' option and watch instantly.
The file would have to be in a supported format like, m4v
Any thoughts?

[2020-05-16 16:45] kiplingw commented on #126
When you say stream, do you mean begin buffered playback as it downloads?

[2020-05-16 20:28] danrobi11 commented on #126
@kiplingw Yes mostly. I wouldnt mind having the choice to not download, just stream would be handy too. Im just trowing that around. I know theres big python upgrade, thats real cool!

[2020-05-16 20:31] kiplingw commented on #126
Well streaming and downloading are the same thing. Streaming just implies you're doing something with what you are downloading before it is transferred in its entirety. The issue here is that not all files are streamable, and just looking at the file extension isn't always enough.

[2020-05-16 20:31] #126 closed

[2020-05-17 08:06] zniavre commented on #99
good morning testing day2
flags randomly displayed or not for some users , instead of "world-flag"

my case "><((((*>" i need to check my own ip via right clic option to get my flag  for others users where flags missings also i hav to check their ip first to see their flags

screenshot > https://imgur.com/a/k6oylTt <

[2020-05-17 22:17] kiplingw commented on #99
@zniavre, I just updated the runtime dependencies to add `python3-geoip`. After the unstable PPA builds it, can you please see if you're still having the same problem?

[2020-05-18 11:37] zniavre commented on #99
same behavior... do i hav to precise im using the ppa tar.gz ? not the complete installation via .deb, python3-geoip is installed.

[2020-05-18 15:27] emilazy commented on #99
@kiplingw Now that things have settled down a bit around the port and Debian-derivative users are encouraged to test via the PPA, would you be happy to see it in the unstable NixOS channel for testing?

It seems the remaining major issues are to do with the Debian-specific packaging, and I managed to get the integration tests running in the Nix CI environment with the move to Robot Framework. This

[2020-05-18 17:19] mathiascode commented on #109
@eLvErDe hosts the website I believe.

[2020-05-18 17:21] kiplingw commented on #109
I would suggest a simple page that is updated via cron to render the markdown in the readme. Unfortunately nothing I can do at my end. Website has not been updated in a very long time.

[2020-05-18 17:37] mathiascode commented on #88
This is fixed in the master branch thanks to the GTK3 port.

[2020-05-18 17:44] #88 closed

[2020-05-18 17:47] kiplingw commented on #88
Thanks @mathiascode.

[2020-05-18 17:52] kiplingw commented on #115
@madprops, can you please try the latest package in the unstable PPA?

[2020-05-18 17:53] mathiascode commented on #99
I haven't done any extensive testing, but basic functionality (downloading, searching, browsing user files) has worked just fine for me. Transfer lists and databases created in 1.4.1 will not be recognized in newer versions though, due to different file names (https://github.com/Nicotine-Plus/nicotine-plus/commit/5f847aead65516c0b75e46e379aaef6f02dc59ab) and Python3 changes in the pickle module us

[2020-05-18 17:54] kiplingw commented on #99
Yes, please always use the Debian package. Installing from source is something you should only do if you are a developer. Otherwise it is dangerous to install outside of the FHS and the system package manager's oversight. The package should also ensure you have the correct dependencies installed (hopefully).

[2020-05-18 17:54] kiplingw commented on #99
Yes, although hopefully that isn't that huge of an inconvenience for people. The shares database fortunately is easy to regenerate.

[2020-05-18 18:03] kiplingw commented on #99
Hey @emilazy. You're certainly welcome add it to an unstable channel for NixOS. Honestly I know very little about it.

There may be some remaining, but most of the issues are going to be with the port itself. There have been a number of issues that are popping up, likely do to changes in the Gtk API and Python 3 which were difficult for @lene to foresee all of.

I'm not sure how CI is performed on

[2020-05-18 18:07] mathiascode commented on #99
Probably better to just start anew instead of attempting to migrate the dbs into something Python 3 recognizes.

[2020-05-18 18:11] bitchkat commented on #99
So I run on fedora and have been using "python setup.py bdist_rpm" and then installing the rpm.

I do have to make this change

`diff --git a/setup.cfg b/setup.cfg
index ed0f9aa9..4b5e40f2 100644
--- a/setup.cfg
+++ b/setup.cfg
@@ -1,3 +1,3 @@
 [bdist_rpm]
 install_script = tools/install-rpm.sh
-requires = python3 >= 3.6 python-gobject-2 python3-mutagen
+requires = python3 >= 3.6 python3-gobject p

[2020-05-18 18:12] kiplingw commented on #99
Agreed. The shares databases are regenerated on my system in under a minute. The main thing is that the user `config` doesn't get corrupted. But it's a plain text file and not a pickle.

[2020-05-18 18:13] kiplingw commented on #99
Thanks @bitchkat. Could you please test and submit a separate PR for Fedora?

[2020-05-18 18:57] emilazy commented on #99
Thanks, I've reopened https://github.com/NixOS/nixpkgs/pull/86683 targetting the unstable NixOS branch ^^

All Nix builds run in a hermetic sandbox with an environment specifying only the dependencies they requested, so the guarantees here are very strong. Honestly, though, I've never seen a non-Debian-derived distribution that implements DEP-8 (or even heard of it before Nicotine+, despite many y

[2020-05-18 20:13] kiplingw commented on #99
I'm not sure that's entirely correct. Although DEP-8 probably has limited implementation on other distros, that's probably not due to rejection of the standard but due to lack of available resources to implement elsewhere. Keep in mind that recognition among some other distros, like Fedora are already [mindful](https://fedoraproject.org/wiki/Changes/InvokingTestsPackaged#Comparison_with_Debian.27s

[2020-05-18 21:26] mathiascode commented on #99
Notifications are now handled by PyGObject's notify.

[2020-05-19 00:24] mathiascode commented on #94
Issue should be closed.

[2020-05-19 01:03] mathiascode commented on #79
This issue seems to be fixed in the master branch.

[2020-05-19 01:10] mathiascode commented on #79
Actually, the directory column keeps reappearing, but https://github.com/Nicotine-Plus/nicotine-plus/issues/8 can be used to track that issue instead. I'll check what the issue is.

[2020-05-19 02:28] kiplingw commented on #94
It should be, but for some reason I'm still seeing ~/.nicotine/ and not ~/.config/nicotine.

[2020-05-19 02:51] mathiascode commented on #94
~/.config/nicotine will only be created and used if the legacy ~/.nicotine/ folder isn't present.

[2020-05-19 02:54] #8 closed

[2020-05-19 02:54] #79 closed

[2020-05-19 02:56] kiplingw commented on #94
Yup. You are right.

[2020-05-19 02:56] #94 closed

[2020-05-19 05:11] madprops commented on #115
It works. Installed from unstable PPA, and launches correctly.

[2020-05-19 05:16] #115 closed

[2020-05-19 09:29] mathiascode commented on #104
Is this still an issue on the master branch? I can't reproduce it.

[2020-05-19 09:32] mathiascode commented on #103
Is this still an issue on master?

[2020-05-19 09:37] mathiascode commented on #60
Most likely not happening in the master branch anymore.

[2020-05-19 16:33] #53 closed

[2020-05-19 16:36] kiplingw commented on #60
Unfortunately the PPA doesn't build for Zesty anymore. I'm sure more than one of our dependencies are not available for it. @zalloy, can you let us know if you are still having this issue on eoan, focal, or groovy?

[2020-05-19 18:14] zalloy commented on #60
@kiplingw No longer seeing this issue (currently running focal). However, I now have an entirely different problem, so will open a new issue for that if one doesn't already exist. Going to close this out.

[2020-05-19 18:14] #60 closed

[2020-05-19 18:51] kiplingw commented on #96
Hey @omrisim210. Thanks for reporting. I doubt the stable release contained a virus. Most likely this is a false positive.

I'd strongly encourage you to consider upgrading your operating to one that does not require anti-virus software. Unless someone else is prepared to contribute patches to maintain the Windows port, it will likely eventually be abandoned.

But the suggestion you've raised is a

[2020-05-19 18:51] #96 closed

[2020-05-19 22:05] mathiascode commented on #3
Seems like Nicotine+ now creates a download folder if it doesn't exist. I'd say close this issue.

[2020-05-19 22:20] mathiascode commented on #52
I haven't tested if sharing actually works properly yet, but I can add folders from servers without issues in GNOME 3.36.2 (Manjaro). Downloading files to a server folder also works. I don't have a Windows installation to test on, but it seems evident that it's working when looking at the screenshots above.

[2020-05-19 22:22] mathiascode commented on #57
Is this still happening in the master branch?

[2020-05-19 22:30] mathiascode commented on #107
Is this still happening on the master branch? If so, is it linked to a specific username?

[2020-05-19 22:34] mathiascode commented on #66
Is this still an issue on the master branch?

[2020-05-19 23:57] kiplingw commented on #3
@bernd-wechner, can you try the latest unstable in the PPA and let us know if the issue is still extant?

[2020-05-20 00:51] mathiascode opened #137 "Run from git-instructions are outdated"
doc/RUNFROMGIT.md needs to be updated at some point.

[2020-05-20 01:04] alekksander commented on #107
not for me

[2020-05-20 02:39] mathiascode commented on #89
Is this still an issue for you in the master branch? I can no longer reproduce it.

[2020-05-20 03:02] mathiascode commented on #82
Is this still an issue on the master branch? I downloaded a few files with 120-150 character names without issues.

[2020-05-20 03:04] mathiascode commented on #82
1.2.16 is a really old version (from 2010), so it's very likely that things were fixed since then.

[2020-05-20 03:25] mathiascode commented on #99
Most issues related to the Python3/GTK3 port should be resolved now. Any Windows users here who have managed to install and test?

[2020-05-20 04:31] mathiascode commented on #84
I can only reproduce if enable the "I can receive direct connections"-option, but that's because I can't open ports in my network. Could you test the master branch, and ensure that the "I can receive direct connections"-option is only checked if your port is actually open?

[2020-05-20 05:57] zniavre commented on #99
good morning, when alt+r to get room list >

(nicotine:16934): Gtk-WARNING **: 07:53:47.807: Negative content width -1 (allocation 1, extents 1x1) while allocating gadget (node scrolledwindow, owner GtkScrolledWindow)

(nicotine:16934): Gtk-CRITICAL **: 07:53:47.807: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkScrollbar

then there is no scrollbar anymore in the userlist ...

(wi

[2020-05-20 07:02] zniavre commented on #99
did you ever tried to keep nic+ python3 open long time ?

in fact i believe after 45mn/1hour it deconect / reconect too often too fast so ban from server several minutes
need to be confirmed > i see this behavior without understanding since few days

[2020-05-20 07:22] 0pLuS0 opened #140 "Compiled 'Master Branch' - Nicotine is Black Blank Screen?"
Hello,

I'm running Slackware 14.2 x86_64, not sure if things here are to old, but this what I have.

Nicotine - Master Branch
gobject-introspection-1.46.0
mutagen-1.44.0
pygobject-3.28.3

gir1.2-gtk-3.0 - I don't know what this is?

Slack 14.2 uses gtk+3-3.18.9

When I run nicotine from a term, this is the output;

~ >nicotine
Tue 21:17 Nicotine+ supports a country code blocker. This requires a (

[2020-05-20 07:37] kiplingw commented on #140
@0pLuS0, I appreciate that you are not using a Debian based distro. But unless you are a developer, please avoid running from source. Instead consider trying the latest unstable from the PPA. This gives us confidence it was installed correctly on your machine with the appropriate dependencies before you attempted to run it.

[2020-05-20 08:05] mathiascode commented on #140
Seems like the 'set_propagate_natural_height' attribute was added in GTK 3.22. I'll see if we can work around this in older GTK versions.

[2020-05-20 08:26] 0pLuS0 commented on #140
@kiplingw

With all due respect, you are the first person to say something like this to me in 20 years of running, compiling software and building slackware packages in Slackware. I don't know everything, but who does?

I've been doing System Admin, IT, Security, Kernel and application compiling and package building in Slackware for 20 years. I don't know everything, but who does, and no one needs

[2020-05-20 08:44] mathiascode commented on #140
@0pLuS0 Can you test this branch? https://github.com/mathiascode/nicotine-plus/tree/chatfixes

[2020-05-20 08:56] zniavre commented on #140
https://pastebin.com/j75fUBY5

 @0pLuS0 if you do not mind i tried ...

[2020-05-20 09:14] 0pLuS0 commented on #140
@mathiascode

What about the DEPS I listed above?

python3-3.7.2
pygobject3-python3-3.18.2
mutagen-1.44.0
gtk+3-3.18.9

THANKS

[2020-05-20 09:28] mathiascode commented on #140
@0pLuS0 Are you sure you pulled the correct branch? There's no "set_propagate_natural_height" attribute in my updated code.

@zniavre Can you update the branch and test again? I think I've solved the log issue.

[2020-05-20 09:36] zniavre commented on #140
@mathiascode  >  https://pastebin.com/yncF5AGT

[2020-05-20 09:42] mathiascode commented on #140
@zniavre Looks fine. Are there any crashes anymore? Do chats work fine?

I'm having trouble reproducing the Alt+R issue you reported earlier. What's your GTK version, and are you using any custom GTK themes?

[2020-05-20 09:45] 0pLuS0 commented on #140
@mathiascode

```git clone https://github.com/mathiascode/nicotine-plus.git```

[2020-05-20 09:46] mathiascode commented on #140
Do `git clone -b chatfixes https://github.com/mathiascode/nicotine-plus.git`

[2020-05-20 09:52] zniavre commented on #140
libgtk-3-0:amd64  3.24.12-1ubuntu1 amd64
on Ubuntu 19.10 (minimal installation running Unity )
my own gtk+3.x theme (it run without errors ...)
got same gdk warnings with ubuntu default theme

[2020-05-20 10:29] 0pLuS0 commented on #140
@mathiascode

Ok here it is, oh a thing of Beauty, and not one error in the terminal either when I started it! WoOT...

Now who was it that said if I wasn't a Developer? LOL... Just kidding... :)

So was the issue with the original GTK?

![nicotine](https://user-images.githubusercontent.com/36190223/82435961-971f6880-9a84-11ea-9c08-6940dbe4c0b2.jpg)

```THANKS```

```P.S. I'll post bug reports lat

[2020-05-20 10:31] zebulon-1st commented on #107
Since Nicotine+ requires python 3.7, I can't use it anymore. My Debian (9, stretch) can only have python 3.5 max. I have to use back Nicotine+ v1.4.2 :[

[2020-05-20 10:35] mathiascode commented on #140
The issue was the older GTK version that didn't include a newer feature. Glad to see it's running at least. :)

Feel free to create new bug reports. The Python3/GTK3 port hasn't really been tested on GTK 3.18 yet, so there could be more breaking issues.

[2020-05-20 10:38] 0pLuS0 commented on #140
Ok, I assumed it was GTK related, hopefully the issue I saw is not an older version issue, but something helpful for you...

Here she is, and oh my, it's been like 2 years waiting on development to run nicotine again...

![Nicotine](https://user-images.githubusercontent.com/36190223/82436759-dc906580-9a85-11ea-841c-73804631263e.jpg)

```THANKS```

[2020-05-20 10:47] zniavre commented on #140
if statusbar is oversized it's caused by the progressbar (from scanning) position... but i do not know what to do   :o)

[2020-05-20 10:50] mathiascode commented on #107
Perhaps we can reduce it to 3.5. I'll do some testing.

[2020-05-20 11:52] mathiascode commented on #140
Oversized statusbar now fixed in https://github.com/Nicotine-Plus/nicotine-plus/pull/141

[2020-05-20 14:51] zniavre commented on #140
@mathiascode looks better for me but...

https://imgur.com/a/1NLYHa4

statusbar from few days ago / gtk2 vs gtk3 / and today with your last commit, wich is really good !
 no more gtk/gdk warnings
thank you all to work on nicotine !

[2020-05-20 15:04] mathiascode commented on #140
It's going to be slightly taller than the GTK2 statusbar in any case, due to GTK3 defaults, but I'll see if hiding the progressbar text makes the statusbar less tall with your theme.

Thanks!

[2020-05-20 15:06] mathiascode commented on #140
I just pushed a change to the https://github.com/Nicotine-Plus/nicotine-plus/pull/141 PR. Can you try again?

[2020-05-20 15:22] zniavre commented on #140
i was reactive...
 https://imgur.com/a/M1jalhq
orange is default ubuntu
black is mine

[2020-05-20 15:53] mathiascode commented on #140
That seems to be the correct size.

[2020-05-20 15:58] zniavre commented on #140
https://imgur.com/a/4zKenGK

look at the statusbar of another pure gtk+3

[2020-05-20 16:07] #140 closed

[2020-05-20 16:18] mathiascode commented on #140
Noted, but it's not a priority for me right now. The whole UI needs a good cleanup sometime in the future, since there are a lot of deprecated elements.

[2020-05-20 22:59] mathiascode commented on #99
Things left to investigate (that I currently know of):
- User pictures don't load
- User description encoding is incorrect
- Broken icon in the plugin list
- Alt+R userlist issue as described earlier

[2020-05-20 23:12] mathiascode commented on #107
@zebulon-1st Python 3.5 is now the minimum requirement. :)

[2020-05-21 02:07] 0pLuS0 opened #143 "Question: 1.4.3 - Columns Hiding?"
Hello,

In Linux using 1.4.1, when I searched for a Song, the Columns; User - Filename - Size etc... I could right click on them and hide them.

In 1.4.3, does it also have the ability to hide these columns, because if it does, I'm not seeing it?

THANKS

[2020-05-21 04:15] zniavre opened #144 "info user correct extra typo"
Hello
i testing info user i write < Hello > in self description but  it write < b'Hello \n' > in place of  < Hello >

[2020-05-21 04:20] zniavre commented on #143
after 15years of nic+ i did not know this option but it works in 1.4.3 for me at least  :o)

[2020-05-21 04:26] zniavre opened #145 "select user transfert does not select anything"
hello
trying to select files from user via right clic > select user s transfers but seems to does not work
this in download tab but upload tab is ok !!!

[2020-05-21 05:02] zniavre opened #146 "clicking hyperlinks does not open browser"
as title say clicking on http https links in rooms does not works  as expected

[2020-05-21 05:16] zniavre commented on #144
is it possible to expand the text zone ? it only displays 2 lines it's no easy to read...

[2020-05-21 05:24] zniavre opened #147 "left click does not work on users nickname in rooms"
is it not supposed to display options with left click over niclkname in rooms ?

[2020-05-21 05:48] zniavre opened #148 "Interest tab : text zone too small"
it's almost not usable to read on 2 lines
maybe expand those text zone will fix reading ability

screenshot joined with 2 gtk+ themes

https://imgur.com/a/GwSawEd

[2020-05-21 06:29] 0pLuS0 commented on #143
@zniavre When you know something, please share it.

So how did you get this to work?

```P.S. I forgot to mention I am using Linux.```

[2020-05-21 06:43] zniavre commented on #143
i just try what you told about right click and it works ...

slackware yeah i saw your discussion about compiling...
im also using linux ubuntu after 10years of gentoo

[2020-05-21 10:42] zniavre opened #149 "request : adding file chooser preview widget in info user picture setting"
i do not know how/what to do with this link but i m sure you will ...

https://developer.gnome.org/gtk3/stable/GtkFileChooser.html#gtk-file-chooser-set-preview-widget

thank you !

(if you want i can stop )

[2020-05-21 14:44] zebulon-1st commented on #107
@mathiascode cool, thx !

[2020-05-21 17:03] #145 closed

[2020-05-21 17:03] #146 closed

[2020-05-21 17:58] zniavre opened #151 "menu separator does not follow gtk+ rules"
with 2 different gtk+ themes, separators in menus are not well displayed it looks like padding 10px instead of 1px (or 2)
sorry for that i am theme monomaniac ...

[2020-05-21 18:40] mathiascode commented on #148
Seems like a GTK bug, but I'm not entirely sure yet.

[2020-05-21 18:42] mathiascode commented on #143
Any errors in the terminal when attempting to right-click?

[2020-05-21 18:42] mathiascode commented on #147
Was this working in the GTK2 version?

[2020-05-21 18:43] mathiascode commented on #151
I noticed this too when not using the default theme. I'll look into it.

[2020-05-21 18:45] zniavre commented on #151
are you using adwaita theme ?

[2020-05-21 18:47] zniavre commented on #147
for sure...

[2020-05-21 18:50] mathiascode commented on #151
Yeah

[2020-05-21 18:53] #151 closed

[2020-05-21 18:54] zniavre commented on #147
Version 1.2.7 Release (25th February 2007)
CHAT
 * Usernames in the chat room log now have hotspots associated with them,
   meaning they can be left-clicked on to load the same popup as you have in
   the users list.

[2020-05-21 20:40] 0pLuS0 commented on #143
@zniavre  thanks...

@mathiascode

Nothing in the term when doing a Right Click, and now I notice a very faded outline of a window trying to appear when I try and right click.

Could this be because Slack 14.2 uses an older GKT3? gtk+3-3.18.9

THANKS

[2020-05-21 20:46] 0pLuS0 opened #154 "1.4.3 Linux - Hidding Tabs - Always Opens Now Under Buddy List"
Hello,

In Slackware 14.2 with these Deps;

python3-3.7.2
pygobject3-python3-3.18.2
mutagen-1.44.0
gtk+3-3.18.9

I pulled from this Branch;

```git clone -b chatfixes https://github.com/mathiascode/nicotine-plus.git```

When I hide the 'Chat Rooms' and 'Private Chat', every time I start Nicotine+ it now opens up under the 'Buddy List' tab.

I'm hoping, even with my older DEPS, it might still open

[2020-05-21 21:32] hboetes opened #155 "strace shows weird file access syscalls"
When I straced N+ I see these messages popping up all the time. Doesn't seem very effective to search for locales in a place where they are not installed. In fact, none of the search pathnames match any package in the whole Debian distribution. This looks pretty reproducible.

This is the latest version from git on debian buster.

[code]

[2020-05-21 23:01] #147 closed

[2020-05-21 23:18] mathiascode commented on #155
That's curious... Thanks for the report.

[2020-05-22 00:34] mathiascode commented on #143
Could be, but I suspect something else is going on. I'll create a Slack installation to investigate.

[2020-05-22 01:03] mathiascode commented on #107
Let us know if you still encounter the issue.

[2020-05-22 01:41] 0pLuS0 commented on #143
@mathiascode

Ok...

But I see this ```Port to Python3``` listed, I thought Nicotine+ is compiled/running against Python3?

THANKS

[2020-05-22 01:43] kiplingw commented on #143
Nicotine+ isn't compiled. It's written in Python and interpreted with the Python 3 interpreter.

[2020-05-22 01:45] 0pLuS0 commented on #143
@kiplingw

Yes I know my bad, not sure what I was thinking... :(

I'm just trying to figure out why  this ```Port to python3 #99``` is being mentioned?

Thanks

[2020-05-22 01:56] mathiascode commented on #143
I simply added this issue to my investigation list of Python3/GTK3 regressions: https://github.com/Nicotine-Plus/nicotine-plus/issues/99#issuecomment-631780155

[2020-05-22 07:49] zniavre opened #161 "(world) flags missing at startup / and buddy list"
when starting nic+ some users without any flag
if disconect reconect they display world flag ( even if it should display other country if you check ip , this one ok)

in buddy list also but disconect/reconect is without effect

https://imgur.com/a/dPX1a6L

pic1 startup
pic2 disconnect/reconnect
pic3 buddylist > even mine is missing in buddylist

[2020-05-22 09:49] mathiascode commented on #161
What's interesting is that the buddy list flag is correct when starting the program, but turns into a world flag once the list has been refreshed. I'm suspecting a bytes/string mismatch somewhere.

[2020-05-22 11:01] zniavre commented on #99
@mathiascode im not able to reproduce the alt-r issue
maybe fixed or a bug between chair and keyboard

[2020-05-22 12:36] zebulon-1st commented on #107
Nicotine+ (1.4.3, at the moment) run ok.

The initial error messages don't appear again. Even with I ask files from a user in my friend list.

---
I have these warnings, from GTK:
[code]
and many of (sorry, end is written in French).
[code]

[2020-05-22 12:40] mathiascode commented on #161
@zniavre Can you test https://github.com/Nicotine-Plus/nicotine-plus/pull/163 and see if it fixes the issue for you? I had success myself.

[2020-05-22 12:43] zniavre commented on #161
wich branch ? please

2020-05-22 14:40 UTC+02:00, Mat <notifications@github.com>:

--
On peut y ajouter tout le fûmier qu'on veut , pour un chêne
centenaire,   faut cent ans ....

[2020-05-22 12:44] mathiascode commented on #161
`git clone -b flagfix https://github.com/mathiascode/nicotine-plus.git`

[2020-05-22 12:46] mathiascode commented on #107
I suppose we can close this then. There are some minor GTK issues here and there that will be fixed eventually, but they shouldn't affect usability.

[2020-05-22 12:47] zniavre commented on #161
so wait a second i need to install git stuff first ...   im not using it since svn was easy and im too old to use something else  :o)

[2020-05-22 12:52] zebulon-1st commented on #107
Oh, yes, sorry, I think I can "Close and comment", right now.

[2020-05-22 12:52] #107 closed

[2020-05-22 12:56] zniavre commented on #161
Traceback (most recent call last):
  File "/home/zniavre/Documents/slsknic+/nicotine-plus/pynicotine/gtkgui/frame.py", line 1371, in OnNetworkEvent
    self.np.events[i.__class__](i)
  File "/home/zniavre/Documents/slsknic+/nicotine-plus/pynicotine/pynicotine.py", line 1027, in AddUser
    self.GetUserStats(msg)
  File "/home/zniavre/Documents/slsknic+/nicotine-plus/pynicotine/pynicotine.py", line

[2020-05-22 12:57] zniavre commented on #161
ho sorry posted this by error i wanted to pastebin it...

[2020-05-22 13:06] zniavre commented on #161
but it works at least in rooms but looks like not in buddylist yet .

[2020-05-22 13:36] mathiascode commented on #161
I found out the reason why the buddylist misbehaved (garbage data in country code due to reading the wrong position). Will push a fix shortly.

[2020-05-22 13:43] mathiascode commented on #161
Can you update the branch and test again?

[2020-05-22 13:44] mathiascode commented on #161
It's likely that the buddylist may still look broken for a few offline users due to invalid countries being written into the config. It should look fine once they are online again.

[2020-05-22 13:51] zniavre commented on #147
it's closed but i do not know where ask about this fix

it works with users below the "old messages above" but it should works with user above as 1.4.2 does

[2020-05-22 15:08] yochananmarqos opened #164 "setup.py: DistutilsFileError"
Running either `python setup.py build` or `python setup.py install` fails after the recent commit that added the plugins directory:

[code]

Manjaro GNOME
Python 3.83
setuptools 46.4.0

[2020-05-22 15:10] mathiascode commented on #164
Fixed in https://github.com/Nicotine-Plus/nicotine-plus/pull/159, pending merge.

[2020-05-22 15:20] yochananmarqos commented on #164
Ah, didn't notice there was a PR already. That fixes it, thanks.

[2020-05-22 15:54] zniavre commented on #161
yep it works i guess well  i agrree for buddylist missing flags until they reconnect

[2020-05-22 16:10] zniavre opened #165 "warnings causes by userlist resizing columns"
userlist >  it's a real nightmare to get flag/user/speed/files as "before" trying to resize a bit speed row and everything borked it's difficult to catch 'files row'  from the right to the left side

(nicotine:4094): Gtk-WARNING **: 17:55:05.228: Negative content width -12 (allocation 1, extents 6x7) while allocating gadget (node button, owner GtkButton)

(nicotine:4094): Gtk-WARNING **: 17:55:05.

[2020-05-22 16:45] #143 closed

[2020-05-22 16:46] #161 closed

[2020-05-22 16:52] #165 closed

[2020-05-22 17:08] #144 closed

[2020-05-22 19:52] mathiascode commented on #164
This can be closed now.

[2020-05-22 20:00] #164 closed

[2020-05-23 13:38] mathiascode commented on #154
I'll look into this.

[2020-05-23 16:14] #148 closed

[2020-05-23 16:15] #154 closed

[2020-05-23 20:59] mathiascode commented on #68
Is this still an issue on the master branch?

[2020-05-23 21:01] mathiascode commented on #85
Is this still an issue on the master branch?

[2020-05-23 21:36] march-hare1 commented on #85
No, it was a permissions issue on my side. Sorry for leaving this open. xoxo!

[2020-05-23 21:36] #85 closed

[2020-05-23 22:03] #149 closed

[2020-05-23 22:17] zalloy commented on #68
Not that I'm aware of. Closing this out. @mathiascode

[2020-05-23 22:17] #68 closed

[2020-05-23 22:41] #100 closed

[2020-05-23 23:11] #91 closed

[2020-05-24 01:07] #63 closed

[2020-05-24 01:27] #64 closed

[2020-05-24 01:47] #62 closed

[2020-05-24 04:30] mathiascode commented on #54
@addfrustration If you're still around, some debug info would be really useful. Some CPU usage should be expected when compressing the filelist before sending it, but there's definitely some bug here. How many files are you sharing?

[2020-05-24 07:32] zniavre opened #180 "Question: No more charsets selection ?"
One of a thing nicotine was unique ...

Thank you for every improvement you ve done !!!

[2020-05-24 10:08] zniavre opened #181 "my gtk3 theme gives checkbuttons looks bigger"
i thougth it was my "own" gtk+3.x theme wrong but i can't fix it so i m asking to you if there is something wrong with another users ?
checkbuttons with menu looks oversized without padding only with nic+

screenshot with different view of how it should look vs how it looks with nic+

![Capture d’écran du 2020-05-24 11-39-21](https://user-images.githubusercontent.com/2409578/82751377-f6e47f00-9db6

[2020-05-24 10:40] eLvErDe commented on #180
If I remember correctly the old soulseek server was running ISO8859-1 and they switch to UTF-8 at some point.
So this charset stuff is probably remaining cruft from old times, can be safely dropped IMHO.

[2020-05-24 11:16] mathiascode commented on #180
I removed it in https://github.com/Nicotine-Plus/nicotine-plus/pull/171, to simplify the whole encoding/decoding process. UTF-8 should work for everything nowadays.

[2020-05-24 11:30] mathiascode commented on #181
Checkboxes don't even appear in the Yaru theme, so something must be wrong with the code. Investigating.

[2020-05-24 11:35] zniavre commented on #181
i tried to understand via UI files but i m too dumb to understand what is wrong sorry ...

maybe it's because yaru and my own are using pixmap to draw checkbuttons ?

[2020-05-24 13:22] mathiascode commented on #181
What do checkboxes look like when you right-click in something like gnome-terminal?

[2020-05-24 13:54] zniavre commented on #181
as it should be .
![Capture d’écran du 2020-05-24 15-46-52](https://user-images.githubusercontent.com/2409578/82755868-cca2b980-9dd6-11ea-8ec4-af0be53ed6b1.png)
 it's gnome-terminal>  3states

[2020-05-24 14:18] mathiascode commented on #181
Could you share your theme, or link to a theme with the same issue?

[2020-05-24 14:46] zniavre commented on #181
[brdln.zip](https://github.com/Nicotine-Plus/nicotine-plus/files/4673731/brdln.zip)

[2020-05-24 16:55] #65 closed

[2020-05-24 17:56] #181 closed

[2020-05-24 20:05] mathiascode commented on #109
A dead simple way would be to just drop a _config.yml file in the main repo, enable Github Pages, and clean up the markdown files a bit. All markdown files would be available on the website, and update automatically whenever they are changed. Example: https://mathiascode.github.io/nicotine-plus/

_config.yml:
[code]

[2020-05-24 20:16] eLvErDe commented on #109
Looks great, I can drop the website and make a redirect to the GitHub pages.
Can you setup Jekyll + git pages ? Do you need something from a nicotine-plus GitHub admin ?

[2020-05-24 20:32] mathiascode commented on #109
I'll clean up the md files a bit, check if there's anything worth saving from the current website, and prepare a PR will all required changes. Afterwards, you should just have to enable GH pages on the master branch within the repo settings, add the nicotine-plus.org domain there, and point the domain's DNS records to Github's.

[2020-05-24 20:34] eLvErDe commented on #109
Sounds like a plan, let me know when ready :-)

[2020-05-24 21:05] 0pLuS0 opened #186 "Question - Bug? - Log Window Issue"
1.4.3 in Linux, I noticed if I disable the Log Window, I still saw at the botton of Nictone+ when I started it that it said;

```You have no privileges left. They are not needed for Nicotine+ to function properly. You can acquire privileges by donating at```

Here's a screen shot of that;
![nicotine_log](https://user-images.githubusercontent.com/36190223/82764897-5029ce00-9e0a-11ea-9f46-02ec47be55

[2020-05-24 21:11] mathiascode commented on #109
We should be ready to go: https://github.com/Nicotine-Plus/nicotine-plus/pull/187
https://help.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site

[2020-05-24 21:17] 0pLuS0 commented on #143
I cloned from the Master Nictone Branch and this now works!

THANKS

[2020-05-24 21:17] 0pLuS0 commented on #154
This now works, I also mentioned it in #169

THANKS

[2020-05-24 21:30] eLvErDe commented on #109
Ok, I'll do the domain switch tomorrow

Le 24 mai 2020 23:11:59 GMT+02:00, Mat <notifications@github.com> a écrit :

[2020-05-24 21:35] 0pLuS0 opened #188 "Feedback: Nicotine Website Updated?"
Hello,

Just some food for thought, my feedback.

If you type into Google - Nicotine Plus you'll get back 3 URL results;

```Github```
https://github.com/Nicotine-Plus/nicotine-plus

```Sourceforge```
http://nicotine-plus.sourceforge.net/

```.Org```
https://www.nicotine-plus.org/

If you guys have access to sourceforge and the .org, it would be good to keep these updated, now that the development

[2020-05-24 21:37] mathiascode commented on #186
I remember the statusbar message being a thing in 1.4.1 too, but I'll see if I can make the presentation somewhat nicer.

There is an issue with the font color not updating properly in the log view at the moment.

[2020-05-24 21:39] kiplingw commented on #188
I don't know who has access to the old SourceForge page anymore, but I encourage whoever does to consider simply redirecting it to the latter link.

[2020-05-24 22:15] 0pLuS0 commented on #186
I guess the idea here is to make a distinction between what should be ```Status Bar``` messages and what should be ```Log Messages```

IMHO, this ```no privileges left``` message should be a ```Log Message```

I think of the Status bar like; connected, disconnected, port connected to, etc...

THAHKS

[2020-05-24 22:38] eLvErDe commented on #188
Might have access to sourceforge but I don't think so. I'll try tomorrow

[2020-05-25 01:25] mathiascode commented on #95
There is no CLI interface for Nicotine+, and creating one isn't really a realistic goal. There's a lot of protocol logic, and it's quite ingrained in the GUI part of the program.

[2020-05-25 01:29] mathiascode commented on #95
An alternative is Museek+, which seems to have been a sister project of Nicotine+ for a long time, but I'm not sure how well it works anymore. https://github.com/eLvErDe/museek-plus

[2020-05-25 01:42] mathiascode commented on #154
Nice to hear! You're welcome. :)

[2020-05-25 05:30] zniavre opened #190 "wait a minute, only spellchecker is missing ?"
spending few hours on rooms and you can see how much we all need spellchecker comeback
:o)

hav a nice coding day ! tahnk uyo

[2020-05-25 06:15] zniavre opened #192 "userlist for myself does not display files number"
in userlist and buddylist for myself it displays 0 file , i delete my old config file to make new configuration but it still does not display real number of my share files (it should display at least 6000 +/-)

thank you.

[2020-05-25 06:27] eLvErDe commented on #109
Hi,

I enabled GitHub pages and replaced sourceforge website with a php page doing permanent redirect to GitHub page.
Can I do the same for nicotine-plus.org or there's something here you may want to keep (Found some Ruby/Python script to export MoinMoin wiki pages to Markdown so I can run this for you if neede)

Adam.

[2020-05-25 06:43] mathiascode commented on #109
I think we have everything we need from the old site. Could we keep the nicotine-plus.org domain instead of redirecting to the Github pages URL? Adding the domain in the repo settings should work.

[2020-05-25 06:54] eLvErDe commented on #109
Yes but what's the point paying for the domain while everything is hosted on GitHub. I'll just make it permanent so search engines will forget about the original URL and drop the domain next year

[2020-05-25 07:02] mathiascode commented on #109
@kiplingw Opinions?

[2020-05-25 08:16] zniavre commented on #192
i hav confirmation that a friend using slskQT can see my number of files in the user list and buddylist

but here with last commit of nic+ it does not appear

[2020-05-25 16:59] varun-ramraj opened #194 "AttributeError in changecolour(): PrivateChat object has no attribute 'tag_log'"
Nicotine+ 1.4.3 downloaded from the Ubuntu PPA for Focal frequently crashes with the above message. Please let me know how I can generate more details as required.

[2020-05-25 17:16] mathiascode commented on #109
If we end up dropping the domain, I'd say we just redirect it to https://github.com/Nicotine-Plus/nicotine-plus. Not much point in having a separate github pages site at that point.

[2020-05-25 17:16] #194 closed

[2020-05-25 17:17] kiplingw commented on #194
Thanks @mathiascode.

[2020-05-25 17:25] kiplingw commented on #109
Personally I have no issue with keeping the domain. If @eLvErDe doesn't want to keep paying for hosting I'm also happy to host it.

In terms of its content I think some simple tool that just renders the markdown we already have is all we really need with a nightly cron job to update it. Most people just want to download and install the package.

[2020-05-25 17:29] mathiascode commented on #109
In that case we can just make https://nicotine-plus.github.io/nicotine-plus/ the main site under the nicotine-plus.org domain. No need for any separate web hosting.

[2020-05-25 17:32] kiplingw commented on #109
Yeah I'm fine with that. And if anyone is _really_ enthusiastic, we could even create our own separate Wikipedia page. I refactored [this](https://en.wikipedia.org/wiki/Soulseek#Alternative_Clients) section yesterday.

[2020-05-25 17:32] mathiascode commented on #109
HTTPS would also be provided for the domain by Github pages (Let's Encrypt), so no issue on that part.

[2020-05-25 17:38] mathiascode commented on #190
Should be fairly easy to switch from Libsexy to GSpell for spell checking, but it's on the todo list.

[2020-05-25 18:11] varun-ramraj opened #197 "Downloading and user file browsing suddenly stops working after two successful downloads"
If I try to browse a user's files after freshly starting up 1.4.3 unstable, I can browse them and try to download. After the first couple of files download (I've noticed that 2 files are always successful in my few test runs), the rest stay in "Connecting" state. I do not have the logs from the host's point of view, but I can confirm that once this happens, I can no longer browse a user's files (I

[2020-05-25 18:21] varun-ramraj commented on #197
Just to add, I've checked the file transfer list again and one file has moved to "Cannot connect" state.

[2020-05-25 18:21] eLvErDe commented on #109
Ok fair enough, I'll keep the domain and point it to GitHub.

[2020-05-25 18:23] kiplingw commented on #109
Maybe something else that would help inform us on what's best to do is if you had any visitor stats for the domain. Was anyone still going there?

[2020-05-25 18:45] zniavre commented on #197
can'tconfirm just trying downloading 188mo folder with 18files they were downloaded in one  'shot'
maybe user uploader is dieconnected ?

[2020-05-25 18:46] varun-ramraj commented on #197
I've tried several scenarios, and yes, I asked the users to restart their clients. Randomly, a few files worked before choking up again and starting the same pattern over. I am not able to establish exactly when this behaviour occurs; is there anything I can do further with the logs to help?

[2020-05-26 01:31] kiplingw commented on #109
@mathiascode, I keep getting automated emails from GitHub after every commit regarding the GitHub Pages configuration. See below:

![Screenshot_2020-05-25_18-30-12](https://user-images.githubusercontent.com/1149225/82851812-e535d100-9eb5-11ea-80ea-eb5a756260a1.png)

Frankly I'm not even sure if that UPnP binary is even required. But then I have never touched or used the Windows port.

[2020-05-26 11:04] mathiascode commented on #109
Might be a good idea to exclude some more directories in the _config.yml file.

I'd leave the Windows stuff as is right now. At some point I want to look into getting executables generated again.

[2020-05-26 11:54] mathiascode commented on #192
Looks like the file count is incorrectly displayed under the directory count for some reason.

[2020-05-26 13:36] mathiascode commented on #197
Does the same happen on 1.4.1?

[2020-05-26 14:40] mathiascode opened #201 "Add support for >2GB downloads"
Support for large files was added to SoulseekQt in 2015, but parsing a TransferRequest response in Nicotine+ only returns 0 as the filesize for large files. Investigate what the official client does different.

Edit: Should also check if Museek+ supports large downloads.

[2020-05-26 15:08] mathiascode commented on #201
It is worth noting that large uploads seem to work just fine (tested with 16GB file).

[2020-05-26 15:50] eLvErDe opened #202 "IndexError at start on Debian Buster"
[code]

[2020-05-26 15:52] eLvErDe commented on #202
The code crashing here is definitely suspicious:

[code]

What about using len(cols) in the range statement ?

[2020-05-26 16:16] mathiascode commented on #202
len(cols) won't work in this case, since the number of columns in the "downloads_columns" config option was incorrect before (9 instead of 10). We need to verify that the config is up-to-date in some good way.

[2020-05-26 16:23] mathiascode commented on #202
Alternatively we can just catch the IndexError and do nothing. As soon as the user updates the column visibility, the config will correct itself.

[2020-05-26 16:24] #192 closed

[2020-05-26 16:54] #202 closed

[2020-05-26 23:24] zalloy opened #207 "Blank tabs"
I've been noticing an issue with Nicotine that's been occurring for some time now. I first noticed it just before I upgraded from Eoan to Focal, on both the stable and unstable branches. When I start Nicotine, all the downloads I had in progress disappeared and that tab is now blank. Additionally, the chat rooms tab is blank, nothing shows up when I try to search, and I'm assuming no one is downlo

[2020-05-26 23:40] mathiascode commented on #207
Anything of interest in the log view, if you enable debug info? (View -> Show debug info, check all the options)

[2020-05-26 23:55] zalloy commented on #207
Nope, not seeing anything out of the ordinary. I'll attach a [screenshot](https://www.dropbox.com/s/jr4lv6qd4ufkvsc/Selection_524.png?dl=0). Not sure if there's a log file somewhere that might have more information.

[2020-05-27 00:01] mathiascode commented on #207
Weird, that's what the program looks like when no connection has been established yet. Could server.slsknet.org:2242 be blocked somehow?

[2020-05-27 00:37] mathiascode commented on #101
On Linux, the second bug doesn't seem to occur on the master branch at least. We don't have any Windows builds set up for testing (yet) though.

[2020-05-27 00:42] zalloy commented on #207
Yeah, I thought it was weird too. I've got ports 2234:2239, 2240, and 2242 open for Soulseek/Nicotine, I've got the same ports forwarded on my router to this machine, and I also have server.slsknet.org whitelisted in my hosts file. Yet, it keeps on coming up like this, and if I click on the File menu, it's giving me the option to connect, as if I wasn't already connected to the server, but if I cl

[2020-05-27 01:50] mathiascode commented on #207
If you run `curl -I http://server.slsknet.org:2242`, do you get a `curl: (52) Empty reply from server` response?

[2020-05-27 01:53] #101 closed

[2020-05-27 16:23] zalloy commented on #207
I tried running `curl -I http://server.slsknet.org:2242` and got no output, so then I tried pinging that server and got the same thing. This led me to believe that there was something else amiss, so I started checking things more thoroughly.

In the end, I found out that a filter that I had set up in Fail2Ban was causing Nicotine/Soulseek to fail to connect. Removed that filter, and now I'm back i

[2020-05-27 16:23] #207 closed

[2020-05-27 18:45] varun-ramraj commented on #197
Sorry @mathiascode got caught up with work today. Will test it and report back shortly.

[2020-05-30 08:22] mathiascode commented on #99
Windows installer for testing: https://github.com/mathiascode/nicotine-plus/blob/exe/files/windows/Nicotine+-1.4.3.exe?raw=true (GeoIP missing for now, until I figure out how to install it)

[2020-05-30 21:37] mathiascode opened #215 "Speed up program startup times"
The startup time of Nicotine+ is pretty slow, which mainly stems from the fact that a lot of objects are initialized at startup, even if they're not needed yet or disabled (e.g. settings window, tray icon, plugin system). We should initialize things on-demand, which speeds up startup times a lot.

[2020-05-30 21:40] kiplingw commented on #215
I'm fine with the proposal. Although I'm only seeing it take about three seconds to load on my machine that's running Focal. Or did you test on Windows?

[2020-05-30 21:46] mathiascode commented on #215
Takes 2-3 seconds on my main system, somewhat slower in Windows for some reason. SoulseekQt starts in about half a second or less.

What seemed to be the main culprit is the settings window, not sure yet if something there in particular slows it down, or if it's just the sheer amount of settings and pages that hogs it.

[2020-05-31 21:16] mathiascode commented on #109
Looks like Github is pretty dumb, and will only generate certificates for either https://nicotine-plus.org or https://www.nicotine-plus.org (although now it seems like a www cert won't generate at all anymore?). I suggest just using the non-www URL from now on.

[2020-05-31 21:23] eLvErDe commented on #109
Yes it's absolute crap. I'm working in a decent solution using a redirect from my own server.

[2020-05-31 21:25] eLvErDe commented on #109
Well, ok I though it would work after while, when the DNS would be widely spread but still no luck. Let's forget all this crap, it's clearly a beta-test feature and google shows everybody complains about it. It'll just redirect from my server.

[2020-05-31 23:56] fsouzamoraes opened #219 "Cannot find GTK+ 2.24.X, please install it."
even with all versions of gtk installed, still got the error message. i am using slackware-current

[2020-06-01 11:03] mathiascode commented on #219
Is this on version 1.4.1? I suggest testing the master branch (1.4.3) if you haven't, it's the in-development GTK3/Python3 port which will be released as version 2.0.0 in the near future. It should be quite stable at this point, but bug reports are welcome.

[2020-06-01 11:04] mathiascode commented on #109
I suppose we can close this then.

[2020-06-01 11:05] mathiascode commented on #188
This can be closed now. Everything redirects to the same website.

[2020-06-01 13:26] zniavre commented on #190
Thank you very much !

[2020-06-01 16:12] varun-ramraj commented on #197
@mathiascode I am not able to replicate this reliably on either 1.4.1 or 1.4.3. I'll close this for now and open a new one if I can give you a more reliable replication protocol!

[2020-06-01 16:12] #197 closed

[2020-06-01 16:15] #81 closed

[2020-06-01 17:04] mathiascode commented on #180
Can we close this? Doesn't seem like any issues have popped up since.

[2020-06-01 17:06] mathiascode commented on #104
I'd say we can close this issue. I haven't been able to reproduce it on any OS I've tested on, and the version in the screenshot is pretty old (1.2.16).

[2020-06-01 17:07] #180 closed

[2020-06-01 17:11] #104 closed

[2020-06-01 17:27] #190 closed

[2020-06-01 18:37] #103 closed

[2020-06-02 22:21] 0pLuS0 commented on #188
The new site looks really nice!

[2020-06-02 22:21] #188 closed

[2020-06-02 22:48] #77 closed

[2020-06-03 00:42] mathiascode commented on #95
@kiplingw Can you close this?

[2020-06-03 00:44] #215 closed

[2020-06-03 00:49] mathiascode commented on #57
No response since 2019, and likely fixed in the wave of Python3 changes. @kiplingw Close?

[2020-06-03 00:50] kiplingw opened #228 "CI on installed artifacts gives false positive (success when should be failure)"
It looks like the Robot Framework's CI test that is run in autopkgtest is giving a false positive that the test passed when it should really be giving a true negative because of a runtime error. My guess is a system exit code may be not being checked properly.

[code]

This may be related to #122.

[2020-06-03 00:51] #95 closed

[2020-06-03 00:52] #57 closed

[2020-06-03 00:52] #109 closed

[2020-06-03 02:19] #42 closed

[2020-06-03 12:32] mathiascode commented on #228
I don't think there's anything wrong in the test itself, but Nicotine+ keeps running if an exception is raised.

[2020-06-03 17:16] kiplingw commented on #228
Thanks Mat. Was your PR for #232 also suppose to address making the test pass or to make sure that when it fails that it's detected as a failure?

[2020-06-03 17:32] mathiascode commented on #228
Nope, the test is still broken.

[2020-06-03 21:46] #228 closed

[2020-06-03 21:55] mathiascode commented on #58
@ibrokemypie Are you still interested? I think Homebrew dropped Nicotine+ due to Python 2 being EOL, but a Nicotine+ 2.0.0 release with Python 3 support is planned in the near future.

[2020-06-04 00:55] #155 closed

[2020-06-04 09:40] alekksander opened #239 "custom tray icons not respected"
1.4.3-20200603221
![image](https://user-images.githubusercontent.com/3148302/83741129-16519680-a658-11ea-9759-7ecaf073173c.png)

[2020-06-04 14:10] zniavre commented on #186
in the same place there is the priviliege days left number when you pay for it

[2020-06-04 14:14] zniavre commented on #239
that is strange. here it worked quite well svg/png are well displayed in settings window and in the tray. did you placed folder icon somewhere specific ?

[2020-06-04 17:08] #186 closed

[2020-06-04 19:11] #239 closed

[2020-06-04 21:22] 0pLuS0 opened #242 "Request: Modes Tab Placement?"
Hello,

In Linux using the latest 1.4.3 master branch, I noticed I could move the Modes Tabs left or right, to change the placement, but when I restarted Nicotine, they went back to their original location.

I'd personally rather have the ```Search files```  on the left of Downloads, it makes more sense to me, to have Search before Downloads.

I'm assuming since I can arrange the tabs, they should

[2020-06-04 21:29] 0pLuS0 commented on #219
@fsouzamoraes

As mathiascode pointed out, make sure you are cloning from the Master branch, to get 1.4.3;

```git clone https://github.com/Nicotine-Plus/nicotine-plus.git```

I'm using the Master branch in Slack 14.2.

I also have a ```nicotine-plus.SlackBuild``` I've attached. I removed the locale translations, you can always remove that line, if you want them.

[nicotine-plus.SlackBuild.zip](ht

[2020-06-04 23:00] mathiascode commented on #242
Thanks for the report. This was working fine before, but must've broken recently.

[2020-06-04 23:56] #242 closed

[2020-06-05 11:14] mathiascode opened #245 "Reduce number of function calls"
There are some excessive function calls here and there that should be looked into.

[2020-06-05 12:23] alekksander commented on #81
there is still something off about nicotine tray icon. here is how it's displayed on task bar compared to tray icon

![image](https://user-images.githubusercontent.com/3148302/83875729-e7125680-a737-11ea-8073-347aee989da7.png)

it seems the edges are not transparent…?

[2020-06-05 15:15] kiplingw commented on #245
Thanks Mat. Could you be more specific?

[2020-06-05 15:20] zebulon-1st opened #246 "last frame.py update fails, Nicotine 1.4.3"
After updated with a `git pull`, frame.py was the only file updated.
And now, I can't run without this error message:

[code]
So, Nicotine fails

---
Note : 'Jamais vu' [fr] == 'never seen' [en]

[2020-06-05 15:32] mathiascode commented on #245
Actually, this issue might not be as large as I originally thought. The only thing that looks suspicious to me is 20k calls in the ticker sorting code when joining a chat room, might have to look into if something abnormal is going on there later.

(Checked with cProfile: `python -m cProfile nicotine`)

[2020-06-05 16:43] mathiascode commented on #246
Could you check if the following branch fixes the issue?
`git clone -b buddylist https://github.com/mathiascode/nicotine-plus`

[2020-06-05 16:57] zebulon-1st commented on #246
Well, it seems better. No fail, as before, on date formatting.

Here are stderr output :
[code]
plus, these lines repeating many many :
[code]

[2020-06-05 17:55] mathiascode commented on #246
The AttributeError issue should now be fixed in the same branch. Can you confirm?

Did you do anything specific to trigger the Gdk/Gtk warnings?

[2020-06-05 18:40] zebulon-1st commented on #246
I still have the issue (v1.4.3 branch master), the same error :
[code]

For the GTK warnings, I do nothing special.
I just call nicotine, in a shell, without any option or argument, as written above.

I use Debian 9 (always updated), with MATE (1.16.2) desktop.
libgtk2.0-0 / 2.24.31-2
libgtk-3-0 / 3.22.11-1
libwxgtk3.0-0v5 / 3.0.2+dfsg-4
python-gtk2 / 2.24.0-5.1
python-wxgtk3.0 / 3.0.2.0+dfsg-4

[2020-06-05 18:43] zebulon-1st commented on #246
Oops, sorry.

As you asked, in the same branch, the Attribute issue is now fixed. It does not appear any more.

[2020-06-05 23:26] 0pLuS0 commented on #242
THANKS it appears working now in the latest Master!

[2020-06-06 14:27] mathiascode commented on #99
I'd say we're at a stage where a 2.0 release is looking pretty good. I'm probably going to wind down on patches that introduce new functionality for some time, and fix any remaining 1.4.3 regressions if found.

[2020-06-06 15:48] mathiascode commented on #81
How do the default tray icons look? Not sure if anything can be done here, AppIndicator3 handles the rendering.

[2020-06-06 16:11] alekksander commented on #81
to my eyes it looks correctly on defaults. could different png size change how it's displayed? what is recommended size?
![image](https://user-images.githubusercontent.com/3148302/83948854-89a60480-a820-11ea-90b7-3e47d66c13fc.png)

[2020-06-06 16:30] mathiascode commented on #81
Possibly. The current size of the icons is 32x32.

[2020-06-06 16:32] kiplingw commented on #99
I agree. Let's try and get #238 resolved because that will allow for more comprehensive testing in the interim between now and stable release.

[2020-06-06 16:50] mathiascode commented on #99
I'll try to get it resolved by tomorrow.

[2020-06-07 12:24] alekksander commented on #81
tried 32x32 and 64x64, but no luck. it remains distorted.

[2020-06-07 13:47] mathiascode opened #252 "GUI stops updating if window is off-screen"
GNOME 3.36.2, Wayland

If you unmaximize the window, and move it slightly off-screen (about 10 pixels should be enough), the GUI doesn't refresh until the window is moved again. Resizing the window only takes effect after you move the window. Happens in both 1.4.1 and 1.4.3.

The culprit seems to be the following line: https://github.com/Nicotine-Plus/nicotine-plus/blob/ba3a5cc593b0ecb0e2e7192767b

[2020-06-07 13:49] zniavre opened #253 "text in log aera in chat rooms lag to display from entry"
Sometime i type text in the entry-box chat rooms then enter, text does not appear fast in log window.
i hav the feeling it's when the log is full window from top to bottom looks like the log aera does not refresh ? im logged into nicotine and private room only but it does not happen in private chat where i usually hav less than 10lines.
is that possible ? or  misinterpreting something

the two roo

[2020-06-07 14:03] zniavre commented on #253
[simplescreenrecorder-2020-06-07_15.58.33.zip](https://github.com/Nicotine-Plus/nicotine-plus/files/4742192/simplescreenrecorder-2020-06-07_15.58.33.zip)
that not easy to catch without seeing my keyboard but after last word "arf" i need to use arrow up ans down to make text in log .

[2020-06-07 14:53] mathiascode commented on #252
Cloned Nicotine+ again, and could not reproduce...

[2020-06-07 14:53] #252 closed

[2020-06-07 14:59] mathiascode commented on #252
Seems to be an issue outside Nicotine+. Happens for me in other applications too.

[2020-06-07 15:30] mathiascode commented on #253
I can reproduce in chat rooms, no issues in private chat.

[2020-06-07 16:07] mathiascode commented on #253
As far as I can tell, your own messages appear after the server has received and processed them, so it may take a short while.

[2020-06-07 16:21] zniavre commented on #253
was not sure in private cause i never fill the entire log window
it happens randomly ( in screencast you can see my first test displayed normaly ( first arf) and second try was buggy
hope im not only one who got this ...  :o(

thank you :o)

[2020-06-07 17:01] zebulon-1st commented on #246
The initial ValueError seems to have been fixed, too, on branch master ?

[2020-06-07 17:38] mathiascode commented on #246
Yup, only the Gtk/Gdk warnings aren't fixed.

[2020-06-08 00:05] zebulon-1st commented on #246
Ok. So, Do I have to close this issue, now ?

[2020-06-08 08:17] zniavre opened #255 "/now playing does not work after nic+ restart"
the now playing stuff needs config each time i restart nic+

using rhythmbox via MPRIS 2 option just needed to open config window and it works again ...

no output
using 20.04 with unityDE

[2020-06-08 12:04] mathiascode commented on #253
Can you check if this branch solves the issue?
`git clone -b logread https://github.com/mathiascode/nicotine-plus`

[2020-06-08 12:58] mathiascode commented on #253
Alright, should be fixed now. Try cloning the branch above again.

[2020-06-08 13:07] mathiascode commented on #246
We can keep it open until the warnings are fixed.

[2020-06-08 14:57] zniavre commented on #253
at this point it looks fixed ...    :1st_place_medal:

[2020-06-08 16:37] #253 closed

[2020-06-08 16:46] #255 closed

[2020-06-08 17:08] mathiascode commented on #102
Before anyone starts doing unnecessary work, there's now a Flatpak manifest in the main repo, which I plan on submitting to Flathub once Nicotine+ 2.0.0 is released. https://github.com/Nicotine-Plus/nicotine-plus/tree/master/files/flatpak

[2020-06-08 17:42] Maryse47 commented on #102
@mathiascode does it really need gnome runtime instead of freedesktop? If app uses gtk but isn't a gnome app in essence the later should be enough. Also having both `socket=fallback-x11` and `socket=x11` doesn't make sense, choose one.

[2020-06-08 18:33] mathiascode commented on #102
Thanks for the heads-up about fallback-x11 and x11, I'll correct the issue. I chose the GNOME runtime due the number of GNOME dependencies that are needed (pygobject, libnotify, libcanberra, gio etc.), although I guess it would be possible to include these dependencies manually in a Freedesktop runtime, if someone wants to put in work.

[2020-06-08 18:51] mathiascode commented on #102
I would prefer to keep the manifest as short as possible though, to ease the work for future maintainers. This project lacks enough manpower as is.

[2020-06-09 01:19] zebulon-1st commented on #246
Ok.

[2020-06-09 09:51] Maryse47 commented on #102
Ok, however libcanberra [will be dropped in next gnome release](https://gitlab.gnome.org/GNOME/gnome-build-meta/-/merge_requests/553) and gio is part of glib which is in freedesktop-sdk (did you mean gvfs?).

[2020-06-09 21:59] mathiascode commented on #99
New Nicotine+ 1.4.3 unstable build for Windows:
https://github.com/mathiascode/nicotine-plus/blob/bf17c7fb384e04fbf4bf2670352b238a826e3eb7/files/windows/Nicotine+-1.4.3-x86_64.exe?raw=true

[2020-06-10 03:11] mathiascode commented on #82
I haven't encountered this on either Linux or Windows so far. Most likely fixed at some point.

@kiplingw Close? If someone else has this issue, they can open a new issue.

[2020-06-11 06:03] hboetes opened #267 "crash after second run."
The first time I run nicotine it works fine. The second time I get the crash below.

Workaround: remove all files in ~/.local/share/nicotine
Platform: OpenBSD 6.7 amd64
Version: latest pull from git

[code]

[2020-06-11 11:16] alekksander opened #269 "add grouping by path"
please add folder grouping to the three view between user and files – based on path

[2020-06-11 11:17] alekksander opened #270 "on kde LMB on tray icon brings menu, not app"
would it be possible to have hide/show toggle as default action on LMB, and menu only on RMB?

[2020-06-11 13:43] zniavre opened #271 "How to activate plugins ?"
i had my ancestral ~/.nicotine/plugins folder, i added ~/.config/nicotine and ~/.local/share/nicotine

recently feeded with plugins folder (since cleaning plugins push)  from master.zip

i do not hav nic+ installed via .deb or ppa nor git folder( i do not know how to use since it was svn sorry )
it looks not possible to activate plugins now  each restart they are deactivate and if i check them it

[2020-06-11 15:43] mathiascode commented on #269
Duplicate of https://github.com/Nicotine-Plus/nicotine-plus/issues/17

[2020-06-11 16:31] mathiascode commented on #270
AppIndicator doesn't allow you to change the LMB action, but you can add the action to the middle mouse button.

[2020-06-11 16:54] #271 closed

[2020-06-11 17:24] #270 closed

[2020-06-11 21:23] #245 closed

[2020-06-11 22:12] mathiascode commented on #267
Still investigating, but worst case scenario is that we have to replace shelves with something better...

[2020-06-11 22:18] hboetes commented on #267
OK, poke me if you need a tester.

[2020-06-11 23:36] mathiascode commented on #267
@hboetes Can you remove all files in ~/.local/share/nicotine again, and try this branch?

`git clone -b pickleproto https://github.com/mathiascode/nicotine-plus`

[2020-06-12 07:59] hboetes commented on #267
Hello @mathiascode,

I just tried again with the `pickleproto` branch and I got the same error, as a matter of fact, I got this error at shutdown.

[code]

[2020-06-12 09:21] hboetes commented on #267
Hello @mathiascode
I just tried it, it doesn't help, I still get the same output, I got this one as shutdown:

[code]

[2020-06-12 11:10] mathiascode commented on #267
Bummer, can you try this branch?

`git clone -b simplelen https://github.com/mathiascode/nicotine-plus`

[2020-06-12 11:45] hboetes commented on #267
Nope :-(

This is what I get at startup:

[code]
And I figured out that this message comes from browsing my public shares. Port 2234 is not blocked by the firewall.
[code]

[2020-06-12 12:00] mathiascode commented on #267
Try cloning the branch again, line 1710 in slskmessages.py is not supposed to look like that anymore.

[2020-06-12 12:07] mathiascode commented on #267
In fact, the whole country code blocker message shouldn't exist in either of my previous branches I posted here.

[2020-06-12 16:32] hboetes commented on #267
@mathiascode
You are absolutely right, I added branching code to my personal package manager, but had not ported that code to OpenBSD. Duh!

It's all fine and dandy now. Let's see if your branch also solves using a network share.

[2020-06-12 16:41] hboetes commented on #267
Cried victory too soon. For testing purposes I added the smallest shared dir first, that went fine. After adding 2 more I ran into this. I'm going to rescan those three again from 0. I haven't even done the biggest 3 yet.
[code]

[2020-06-12 16:49] mathiascode commented on #267
Any directory paths that are exceptionally long?

[2020-06-12 17:02] mathiascode commented on #267
I'm not familiar with OpenBSD, but could you install python-gdbm somehow, if it's not already installed, and report back if it changed the situation in any way.

[2020-06-12 17:11] hboetes commented on #267
I added another share which is bigger and it didn't have a problem with that one. On the one with problems I used `find . |awk '{ print length($0) " " $0; }' | sort -r -n |head` and the longest filename is 202 chars. What's the limit?

Let me add the gdbm module and see what happens.

[2020-06-12 17:32] mathiascode commented on #267
That length seems normal. I suspect some specific file is causing issues. Can't give any better advice than to split the problematic share into smaller parts, to eventually isolate the issue.

[2020-06-12 17:40] mathiascode commented on #267
If you end up finding the problematic file(s), I would be grateful if you could send them.

[2020-06-12 18:43] hboetes commented on #267
I just tried again adding all my shares and now everything went fine. Go figure!
I still have the problematic `.local/share/nicotine` dir, would that help?

[2020-06-12 18:50] mathiascode commented on #267
That would help. :)

[2020-06-12 19:09] hboetes opened #278 "lower on an int?"
Whilst doing searches for example: `Oh Brother Where Art Thou``` I got a lot of errors like this one:

[code]

This is the code in question.

[code]

And I think there are more of those lower() on integers.

[2020-06-12 19:12] hboetes commented on #267
You've got mail!

[2020-06-12 20:07] mathiascode commented on #278
Can you test this branch?

`git clone -b searchrow https://github.com/mathiascode/nicotine-plus`

[2020-06-12 20:26] hboetes commented on #278
Does that include the fixes from your `simplelen` branch? :-)

[2020-06-12 20:40] mathiascode commented on #278
Yup

[2020-06-12 21:22] mathiascode commented on #267
I didn't find anything that looked suspicious. I suppose we can close this issue for now, and reopen if the problem reappears. The simplelen branch changes are in master now.

[2020-06-12 21:25] hboetes commented on #278
Yay! I can search again!

[2020-06-12 21:29] mathiascode commented on #278
Nice! I suppose the "Row index 12" output in the terminal is now the file path, as it's supposed to be?

[2020-06-12 22:15] #278 closed

[2020-06-12 22:21] hboetes commented on #278
I can't confirm nor deny that. But it works now. :-)

[2020-06-12 22:22] hboetes commented on #267
You rock!

[2020-06-12 22:22] #267 closed

[2020-06-12 22:22] mathiascode commented on #278
Can you clone a fresh copy of the master branch, just to ensure that no more issues exist there?

[2020-06-12 22:50] hboetes commented on #278
I just did and both the search bug and the database bug are still gone.
awesome! :-)

[2020-06-12 23:15] mathiascode commented on #219
@kiplingw Close?

[2020-06-12 23:16] #219 closed

[2020-06-12 23:18] mathiascode commented on #278
Thanks! :)

[2020-06-12 23:19] #99 closed

[2020-06-13 10:59] alekksander opened #284 "crash when storage reached out of space"
1.4.3-20200613030

crashed when disk reached of of space with downloads going on. if started again it doesn't crash.
luckily no data was corrupted

[2020-06-13 11:04] mathiascode commented on #284
Do you have a stacktrace/log? In my case, the program doesn't crash, the downloads just stop.

[2020-06-13 13:23] alekksander commented on #284
sorry i don't + unable to reproduce. it migh have been search related after all, cause it crashed when i disabled filtering in search result. i will try to narrow this one down. if i get anything will re–open.

[2020-06-13 13:23] #284 closed

[2020-06-13 13:34] alekksander opened #286 "search result not appearing with filters enabled by default"
1.4.3-20200613030 / KDE neon (Ubuntu 18.04 LTS)

search result are not appearing with filters enabled by default:
![image](https://user-images.githubusercontent.com/3148302/84569987-9ed3e380-ad8a-11ea-9ef4-463a7b2fcdab.png)

to get result displayed it's necessary to press enter in one of filter inputs:
![image](https://user-images.githubusercontent.com/3148302/84570096-333e4600-ad8b-11ea-8379-fb08

[2020-06-13 13:45] mathiascode commented on #286
Did this start happening recently?

[2020-06-13 14:26] mathiascode commented on #286
Can you test this branch?
`git clone -b filterfixes https://github.com/mathiascode/nicotine-plus`

[2020-06-14 22:24] mathiascode commented on #61
This is now resolved, as long as the uploader is using Nicotine+ 1.4.3, and the downloader is using Nicotine+ 1.4.3 or the official Soulseek client.

@kiplingw close

[2020-06-14 22:25] #61 closed

[2020-06-14 23:28] mathiascode commented on #61
Sharing files with special character file names will not work if the downloader is using the old Soulseek NS client, but there's nothing we can do about it. Happens if SoulseekQt is sharing too.

[2020-06-14 23:36] mathiascode commented on #52
Working as intended.

@kiplingw close

[2020-06-14 23:46] mathiascode commented on #89
I haven't been able to reproduce this on either Linux or Windows.

@kiplingw I suggest closing. If this is still an issue, open a new bug report.

[2020-06-15 00:01] #52 closed

[2020-06-15 00:01] #89 closed

[2020-06-15 01:36] #269 closed

[2020-06-15 01:43] mathiascode opened #290 "Fix remaining GTK warnings"
Taken from https://github.com/Nicotine-Plus/nicotine-plus/issues/246#issuecomment-639630658:
[code]

[2020-06-15 01:43] #246 closed

[2020-06-15 02:55] mathiascode commented on #290
Unless someone else creates a fix in the meantime, this will be resolved post-2.0.0.

[2020-06-15 05:55] zniavre opened #293 "download tab does not color when dl started"
sorry forget it

[2020-06-15 05:57] #293 closed

[2020-06-15 18:56] hboetes opened #297 "right-clicking file that user 2 downloads points to user 1"
I sometimes check if people really share a nice collection or just a few dirs. So today two guys were downloading something. I right-clicked the username and checked his collection. After that I right-clicked on a file the second guy was downloading and in the menu I saw the name of Mr. 1. I had to click the username and then I got the right user.

[2020-06-15 19:39] mathiascode commented on #297
The general issue is that items aren't selected automatically when right-clicking them, right?

[2020-06-15 20:33] hboetes commented on #297
Yes, that's an accurate description of what I encountered. You have to left click something first before right clicking it.

[2020-06-15 21:50] mathiascode commented on #297
Can you test this branch?
`git clone -b selection https://github.com/mathiascode/nicotine-plus`

[2020-06-16 02:04] hboetes commented on #297
I'm testing the branch, how would you describe the change? I'm not sure what I should notice.

[2020-06-16 09:10] mathiascode commented on #297
The behavior is modified in the search view, download list and upload list. If you right-click a row, it is now selected, and the popup menu appears. You can still select multiple rows by selecting an initial row, holding down shift, and selecting another one. If you then right-click a new row outside the selected ones, the previous rows will be unselected, and the new row will be selected instead

[2020-06-16 09:24] mathiascode commented on #297
Make sure that these changes are in your local copy: https://github.com/mathiascode/nicotine-plus/commit/a2b20623bd9acf52e01ff9173d6f4c850f07a0bb

[2020-06-16 09:56] hboetes commented on #297
Oh my, for some reason the branch did not get installed. Now it's working. Yes, much better! Thanks!

[2020-06-16 10:05] mathiascode commented on #297
Sweet, thanks for confirming!

[2020-06-16 10:08] mathiascode commented on #84
I'm going to close this for now, see above.

[2020-06-16 10:08] #84 closed

[2020-06-16 10:31] #3 closed

[2020-06-16 11:07] mathiascode commented on #49
Likely fixed at some point recently. Open a new issue if this this still affects you.

[2020-06-16 11:07] #49 closed

[2020-06-16 11:24] hboetes opened #299 "Private Chat tab does not get notified on receiving a message"
Someone sent me a PM and I noticed only much later because the Private Chat tab didn't get a notification message. So no blue bird on the Private chat tab.

[2020-06-16 11:24] alekksander commented on #286
it didn't start happening recently. i'd say a month, but is fixed now. thanks!

[2020-06-16 11:24] #286 closed

[2020-06-16 11:35] mathiascode commented on #299
Can you reproduce this, or did it only happen once? A light bulb icon should appear on the private chat tab if you get a new message.

[2020-06-16 11:40] hboetes commented on #299
It happened multiple times. I'll send you my username via the mail, so we can test it.

The lightbulb appeared on the user tab in private chat, but not on the private chat tab

[2020-06-16 11:40] mathiascode commented on #299
I tested sending messages with three different clients, and I consistently got a notification icon on the tab.

[2020-06-16 11:48] zniavre commented on #299
same here on individual tabsit's ok but the "private chat" tab did not

[2020-06-16 11:53] hboetes commented on #299
Well that's odd. This time it worked. Next time I'll pay close attention to the circumstances and ask the messenger for details.

Please don't close this bug yet.

[2020-06-16 11:54] zniavre commented on #299
i guess if nic+ is focused it works but if you leave it in background it does not

[2020-06-16 11:54] alekksander opened #300 "RMB doesn't select what's underneath it"
1.4.3-20200615224 / KDE neon (Ubuntu 18.04 LTS)

RMB is not selecting content underneath it. if no element is selected (with LMB), it lists blank, and doesn't do anything:

![image](https://user-images.githubusercontent.com/3148302/84770742-645f8600-afd8-11ea-8d93-a3e6d866850b.png)

[2020-06-16 12:00] alekksander opened #301 "unable to download to created folder"
1.4.3-20200615224 / KDE neon (Ubuntu 18.04 LTS)

search result → download containing folder(s) to… → create folder → unable to press „open” (greyed out)

![image](https://user-images.githubusercontent.com/3148302/84771389-a210de80-afd9-11ea-9ebd-9366c20dd329.png)

[2020-06-16 12:15] hboetes commented on #299
@zniavre I couldn't reproduce that. Are you running the latest git version?

[2020-06-16 12:37] alekksander opened #302 "status never reach 100% becasue of filtered files"
1.4.3-20200615224 / KDE neon (Ubuntu 18.04 LTS)

download status never reaches 100% if unwanted files are listed. this could be fixed by either ignoring filtered files, or preferably – not listing them in download tab

![image](https://user-images.githubusercontent.com/3148302/84774973-dd61dc00-afde-11ea-8be1-5bdff853cf90.png)

[2020-06-16 13:33] mathiascode commented on #301
Huh, looks like the whole feature is broken. Investigating...

[2020-06-16 16:18] #297 closed

[2020-06-16 16:18] #300 closed

[2020-06-16 16:20] #301 closed

[2020-06-16 19:31] hboetes commented on #299
The leech plugin does send a message, I can understand this does not trigger a notice in the private chat tab, it would be nice though.

I recall clicking on the private chat tab, noticing a message was sent to a user not sharing files, the user replied saying he was rescanning. Both events did not trigger a notice on the private chat tab.
If someone is willing to try to reproduce this problem, pl

[2020-06-16 19:59] mathiascode commented on #299
There's no special filtering for leech messages though, it's just a normal message that is supposed to trigger a notification as usual.

[2020-06-16 20:43] hboetes opened #305 "twice downloaded same folder, aborted duplicate files, remove aborted does not remove"
And then you just try things for the fun of it.

So I downloaded a whole folder from a user, downloaded it again, check the downloads list and noticed those duplicate entries have the same download id. Selected the duplicate ones and aborted them. Hit remove duplicate/aborted and...

They're still there.

What I'd hope for is that the duplicate tracks would not have been added to the download list

[2020-06-16 21:35] mathiascode commented on #305
No bugs allowed. :P

[2020-06-16 21:56] #305 closed

[2020-06-17 02:09] hboetes commented on #305
Thanks! Amazing!

[2020-06-17 07:53] mathiascode commented on #34
In addition to already added downloads, adding a lot of new downloads also lags the program hard, since the transfers file is opened and closed for every new transfer.

[2020-06-17 14:56] #302 closed

[2020-06-17 19:21] hboetes commented on #299
I just had someone who didn't share who replied to the auto-message and I got notified of that. Closing.

[2020-06-17 19:21] #299 closed

[2020-06-17 19:46] hboetes opened #308 "right click user implicitly selects all files downloading from that user."
Currently, if you want to say retry all files from the same user, for instance if he has a download limit. You have to select all those files. It would be very intuitive if you could simply right click the user and then all his files selected, I guess implicitly would be the nicest, so without actively highlighting them all. But that may be a matter of taste.

[2020-06-17 20:07] mathiascode commented on #308
There's a (somewhat unintuitive) way to do this currently. Right-click transfer -> User(s) -> Username -> Select user's transfers.

I'm not sure if selecting everything on right-click is good (or expected) behavior, but I think opening the user menu when right-clicking the username could work as a slight shortcut.

[2020-06-17 20:10] mathiascode commented on #308
Alternatively there could be another button in the bottom bar for the purpose.